openapi: 3.0.0
info:
  description: 'Welcome to Gate API

    APIv4 provides operations related to spot, margin, and contract trading, including
    public interfaces for querying market data and authenticated private interfaces
    for implementing API-based automated trading.'
  version: v4.106.132
  x-betaNum: 1
  title: Gate API
  contact:
    name: Gate API support
    url: https://www.gate.com/page/contacts
    email: support@mail.gate.com
  termsOfService: https://www.gate.com/docs/agreement.pdf
  license:
    name: Apache License 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://api.gateio.ws/api/v4
  description: Real trading
- url: https://fx-api-testnet.gateio.ws/api/v4
  description: TestNet trading
security:
- apiv4: []
components:
  securitySchemes:
    apiv4:
      type: apiKey
      in: header
      name: SIGN
      x-gate-auth-apiv4: true
  schemas:
    TransactionID:
      title: TransactionID
      type: object
      properties:
        tx_id:
          type: integer
          format: int64
          description: Order ID
    TransferOrderStatus:
      title: TransferOrderStatus
      type: object
      properties:
        tx_id:
          type: string
          description: Order ID
        status:
          type: string
          description: 'Transfer status: PENDING - Processing, SUCCESS - Transfer
            successful, FAIL - Transfer failed, PARTIAL_SUCCESS - Partially successful
            (this status appears when transferring between sub-accounts)'
    SubAccountKey:
      type: object
      properties:
        user_id:
          type: integer
          format: int64
          description: User ID
          readOnly: true
        mode:
          type: integer
          format: int32
          description: 'Mode: 1 - classic 2 - portfolio account'
        name:
          type: string
          description: API Key Name
        perms:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: 'Permission function name (no value will be cleared)

                  - wallet: wallet

                  - spot: spot/margin

                  - futures: perpetual contract

                  - delivery: delivery contract

                  - earn: earn

                  - custody: custody

                  - options: options

                  - account: account information

                  - loan: lending

                  - margin: margin

                  - unified: unified account

                  - copy: copy trading'
              read_only:
                type: boolean
                description: Read Only
        ip_whitelist:
          type: array
          description: IP whitelist (list will be cleared if no value is passed)
          items:
            type: string
        key:
          type: string
          description: API Key
          readOnly: true
        state:
          type: integer
          format: int32
          readOnly: true
          description: 'Status: 1-Normal 2-Frozen 3-Locked'
        created_at:
          type: integer
          format: int64
          description: Created time
          readOnly: true
        updated_at:
          type: integer
          format: int64
          description: Last Update Time
          readOnly: true
        last_access:
          type: integer
          format: int64
          description: Last Access Time
          readOnly: true
    DeltaNeutralEnabled:
      type: object
      title: DeltaNeutralEnabled
      required:
      - enabled
      properties:
        enabled:
          type: boolean
          example: true
          description: Whether to enable the account Delta-neutral strategy mode
    UnifiedBorrowable:
      title: UnifiedBorrowable
      description: Maximum borrowable amount for unified account
      type: object
      properties:
        currency:
          type: string
          description: Currency detail
        amount:
          type: string
          description: Max borrowable amount
    EstimateRate:
      description: Estimate current hourly lending rates, returned by currency
      additionalProperties:
        type: string
    UnifiedTransferable:
      type: object
      title: UnifiedTransferable
      properties:
        currency:
          type: string
          description: Currency detail
        amount:
          type: string
          description: Maximum transferable amount
    MarginTransferable:
      type: object
      title: MarginTransferable
      properties:
        currency:
          type: string
          description: Currency detail
        currency_pair:
          type: string
          description: Currency pair
        amount:
          type: string
          description: Max transferable amount
    MaxUniBorrowable:
      title: MaxUniBorrowable
      type: object
      required:
      - currency
      - borrowable
      properties:
        currency:
          type: string
          description: Currency
          readOnly: true
        currency_pair:
          type: string
          description: Currency pair
          readOnly: true
        borrowable:
          type: string
          description: Maximum borrowable
          readOnly: true
    CountdownCancelAllSpotTask:
      type: object
      title: CountdownCancelAllSpotTask
      description: Countdown cancel task details
      required:
      - timeout
      properties:
        timeout:
          type: integer
          format: int32
          description: 'Countdown time in seconds

            At least 5 seconds, 0 means cancel countdown'
        currency_pair:
          type: string
          description: Currency pair
    SystemTime:
      title: SystemTime
      type: object
      properties:
        server_time:
          type: integer
          format: int64
          description: Server current time(ms)
    TriggerTime:
      type: object
      title: triggerTime
      properties:
        triggerTime:
          type: integer
          format: int64
          description: Timestamp when countdown ends, in milliseconds
      example:
        triggerTime: '1660039145000'
    SpotPriceTrigger:
      type: object
      required:
      - price
      - rule
      properties:
        price:
          type: string
          description: Trigger price
        rule:
          type: string
          description: 'Price trigger condition


            - `>=`: triggered when market price is greater than or equal to `price`

            - `<=`: triggered when market price is less than or equal to `price`

            '
          enum:
          - '>='
          - <=
        expiration:
          type: integer
          description: Maximum wait time for trigger condition (in seconds). Order
            will be cancelled if timeout
    SpotPricePutOrder:
      type: object
      required:
      - side
      - price
      - amount
      - account
      - time_in_force
      properties:
        type:
          type: string
          description: 'Order type，default to `limit`


            - limit : Limit Order

            - market : Market Order'
          default: limit
          enum:
          - limit
          - market
        side:
          type: string
          description: 'Order side


            - buy: buy side

            - sell: sell side'
          enum:
          - buy
          - sell
        price:
          type: string
          description: Order price
        amount:
          type: string
          description: Trading quantity, refers to the trading quantity of the trading
            currency, i.e., the currency that needs to be traded, for example, the
            quantity of BTC in BTC_USDT.
        account:
          type: string
          description: 'Trading account type. Unified account must be set to `unified`


            - normal: spot trading

            - margin: margin trading

            - unified: unified account

            '
          enum:
          - normal
          - margin
          - unified
          default: normal
        time_in_force:
          type: string
          description: 'time_in_force


            - gtc: GoodTillCancelled

            - ioc: ImmediateOrCancelled, taker only

            '
          enum:
          - gtc
          - ioc
          default: gtc
        auto_borrow:
          type: boolean
          description: Whether to borrow coins automatically
          default: false
        auto_repay:
          type: boolean
          description: Whether to repay the loan automatically
          default: false
        text:
          type: string
          description: 'The source of the order, including:

            - web: Web

            - api: API call

            - app: Mobile app'
    SpotPriceTriggeredOrder:
      type: object
      description: Spot price order details
      required:
      - trigger
      - put
      - market
      properties:
        trigger:
          $ref: '#/components/schemas/SpotPriceTrigger'
        put:
          $ref: '#/components/schemas/SpotPricePutOrder'
        id:
          type: integer
          format: int64
          description: Auto order ID
          readOnly: true
        user:
          type: integer
          description: User ID
          readOnly: true
        market:
          type: string
          description: Market
        ctime:
          type: integer
          format: int64
          description: Created time
          readOnly: true
        ftime:
          type: integer
          format: int64
          description: End time
          readOnly: true
        fired_order_id:
          type: integer
          format: int64
          description: ID of the order created after trigger
          readOnly: true
        status:
          type: string
          description: 'Status


            - open: Running

            - cancelled: Manually cancelled

            - finish: Successfully completed

            - failed: Failed to execute

            - expired: Expired'
          readOnly: true
        reason:
          type: string
          description: Additional description of how the order was completed
          readOnly: true
    TriggerOrderResponse:
      type: object
      title: TriggerOrderResponse
      properties:
        id:
          type: integer
          format: int64
          description: Auto order ID
          x-is-bigint: true
        id_string:
          type: string
          description: 'String form of the auto order ID; the same order as numeric
            `id`, as the decimal string of `id` to avoid int64 precision loss in JavaScript
            and similar environments.

            Prefer this field to display the order ID or when a string unique identifier
            is needed; one-to-one with `id`. Same meaning as the field of the same
            name in futures price-trigger REST APIs and in `futures.orders` / `futures.autoorders`
            WebSocket pushes.'
          readOnly: true
    FuturesADLRiskStates:
      type: object
      title: FuturesADLRiskStates
      required:
      - settle
      - states
      properties:
        settle:
          type: string
          description: Settle currency
          example: usdt
        states:
          type: object
          description: Mapping of futures markets to ADL risk states
          additionalProperties:
            $ref: '#/components/schemas/FuturesADLRiskState'
    UpdateDualCompPositionCrossModeRequest:
      title: UpdateDualCompPositionCrossModeRequest
      type: object
      required:
      - mode
      - contract
      properties:
        mode:
          type: string
          description: Cross/isolated margin mode. ISOLATED - isolated margin, CROSS
            - cross margin
        contract:
          type: string
          description: Futures market
          example: BTC_USDT
    FuturesOrderAmendment:
      type: object
      title: FuturesOrderAmendment
      properties:
        size:
          type: string
          description: 'New order size, including filled part.


            - If new size is less than or equal to filled size, the order will be
            cancelled.

            - Order side must be identical to the original one.

            - Close order size cannot be changed.

            - For reduce only orders, increasing size may leads to other reduce only
            orders being cancelled.

            - If price is not changed, decreasing size will not change its precedence
            in order book, while increasing will move it to the last at current price.'
        price:
          type: string
          description: New order price
        amend_text:
          type: string
          description: Custom info during order amendment
        text:
          type: string
          description: Internal users can modify information in the text field.
        action_mode:
          type: string
          description: 'Processing Mode


            When placing an order, different fields are returned based on the action_mode


            - `ACK`: Asynchronous mode, returns only key order fields

            - `RESULT`: No clearing information

            - `FULL`: Full mode (default)'
    CountdownCancelAllFuturesTask:
      type: object
      title: CountdownCancelAllFuturesTask
      description: Countdown cancel task details
      required:
      - timeout
      - market
      properties:
        timeout:
          type: integer
          format: int32
          description: 'Countdown time in seconds

            At least 5 seconds, 0 means cancel countdown'
        contract:
          type: string
          description: Futures contract
    CancelBatchFutureOrdersRequest:
      type: array
      description: Order ID array
      items:
        type: string
    CreateTrailOrder:
      type: object
      title: CreateTrailOrder
      required:
      - contract
      - amount
      properties:
        contract:
          type: string
          description: Contract name
        amount:
          type: string
          description: Trading quantity in contracts, positive for buy, negative for
            sell
        activation_price:
          type: string
          description: Activation price, 0 means trigger immediately
          default: '0'
        is_gte:
          type: boolean
          description: 'true: activate when market price >= activation price, false:
            <= activation price'
        price_type:
          type: integer
          format: int32
          description: 'Activation price type: 1-latest price, 2-index price, 3-mark
            price'
          enum:
          - 1
          - 2
          - 3
        price_offset:
          type: string
          description: Callback ratio or price distance, e.g., `0.1` or `0.1%`
        reduce_only:
          type: boolean
          description: Whether reduce only
          default: false
        position_related:
          type: boolean
          description: Whether bound to a position (if position_related = true (position-related),
            then reduce_only must also be true)
          default: false
        text:
          type: string
          description: 'Order custom information, optional field. Used to identify
            the order source or set a user-defined ID.


            If non-empty, it must meet one of the following rules:


            1. Internal Reserved Fields (identifying order source):

            - `apiv4`: API call

            2. User-defined Fields (setting custom ID):

            - Must start with `t-`

            - The content after `t-` must not exceed 28 bytes in length

            - Can only contain: numbers, letters, underscores (_), hyphens (-), or
            dots (.)

            - Examples: `t-my-order-001`, `t-trail_2024.01`


            Note: User-defined fields must not conflict with internal reserved fields.'
          default: apiv4
        pos_margin_mode:
          type: string
          description: 'Position margin mode: isolated/cross'
        position_mode:
          type: string
          description: 'Position mode: single, dual, and dual_plus'
    StopTrailOrder:
      type: object
      title: StopTrailOrder
      properties:
        id:
          type: integer
          format: int64
          description: Order ID, if ID is specified, text is not needed
          x-is-bigint: true
        text:
          type: string
          description: Custom text, if ID is not specified, terminate based on user_id
            and text
    StopAllTrailOrders:
      type: object
      title: StopAllTrailOrders
      properties:
        contract:
          type: string
          description: Contract name
        related_position:
          type: integer
          format: int32
          description: Associated position, if provided, only cancel orders associated
            with this position, 1-long, 2-short
          enum:
          - 1
          - 2
    UpdateTrailOrder:
      type: object
      title: UpdateTrailOrder
      required:
      - id
      properties:
        id:
          type: integer
          format: int64
          description: Order ID
          x-is-bigint: true
        amount:
          type: string
          description: Total trading quantity in contracts, positive for buy, negative
            for sell, 0 means no modification
        activation_price:
          type: string
          description: Activation price, 0 means trigger immediately, empty means
            no modification
        is_gte_str:
          type: string
          description: 'true: activate when market price >= activation price, false:
            <= activation price, empty means no modification'
        price_type:
          type: integer
          format: int32
          description: Activation price type, not provided or 0 means no modification,
            1-latest price, 2-index price, 3-mark price
          enum:
          - 0
          - 1
          - 2
          - 3
        price_offset:
          type: string
          description: Callback ratio or price distance, e.g., `0.1` or `0.1%`; empty
            means no modification
    FuturesPositionCrossMode:
      type: object
      title: FuturesPositionCrossMode
      required:
      - mode
      - contract
      properties:
        mode:
          type: string
          description: Cross/isolated margin mode. ISOLATED - isolated margin, CROSS
            - cross margin
        contract:
          type: string
          description: Futures market
          example: BTC_USDT
    Contract:
      type: object
      description: Futures contract details
      properties:
        name:
          type: string
          description: Futures contract
        type:
          type: string
          description: 'Contract type: inverse - inverse contract, direct - direct
            contract'
          enum:
          - inverse
          - direct
        quanto_multiplier:
          type: string
          description: The contract multiplier indicates how many units of the underlying
            asset the face value of one contract represents.
        leverage_min:
          type: string
          description: Minimum leverage
        leverage_max:
          type: string
          description: Maximum leverage
        maintenance_rate:
          type: string
          description: The maintenance margin rate of the first tier of risk limit
            sheet
        mark_type:
          type: string
          description: Deprecated
          enum:
          - internal
          - index
        mark_price:
          type: string
          description: Current mark price
        index_price:
          type: string
          description: Current index price
        last_price:
          type: string
          description: Last trading price
        maker_fee_rate:
          type: string
          description: Maker fee rate, negative values indicate rebates
        taker_fee_rate:
          type: string
          description: Taker fee rate
        order_price_round:
          type: string
          description: Minimum order price increment
        mark_price_round:
          type: string
          description: Minimum mark price increment
        funding_rate:
          type: string
          description: Current funding rate
        funding_interval:
          type: integer
          description: Funding application interval, unit in seconds
        funding_next_apply:
          type: number
          format: double
          description: Next funding time
        risk_limit_base:
          type: string
          description: Base risk limit (deprecated)
        interest_rate:
          type: string
          description: Interest rate parameter used in funding rate and premium-related
            calculations for perpetual contracts. Returned as a string decimal ratio
            (e.g. `0.0003`), same convention as `funding_rate` (ratio, not percent).
        risk_limit_step:
          type: string
          description: Risk limit adjustment step (deprecated)
        risk_limit_max:
          type: string
          description: Maximum risk limit allowed by the contract (deprecated). It
            is recommended to use /futures/{settle}/risk_limit_tiers to query risk
            limits
        order_size_min:
          type: string
          description: Minimum order quantity
        enable_decimal:
          type: boolean
          description: Whether decimal string type is supported for contract lot size.
            When this field is set to `true`, it indicates that the contract supports
            decimal lot sizes (i.e., the `size` field can use a decimal string type);
            when set to `false`, it indicates that the contract does not support decimal
            lot sizes (i.e., the `size` field can only use an integer type).
        order_size_max:
          type: string
          description: Maximum order quantity
        order_price_deviate:
          type: string
          description: "Maximum allowed deviation between order price and current\
            \ mark price. The order price `order_price` must satisfy the following\
            \ condition:\n\n    abs(order_price - mark_price) <= mark_price * order_price_deviate"
        ref_discount_rate:
          type: string
          description: Trading fee discount for referred users
        ref_rebate_rate:
          type: string
          description: Commission rate for referrers
        orderbook_id:
          type: integer
          format: int64
          description: Orderbook update ID
        trade_id:
          type: integer
          format: int64
          description: Current trade ID
        trade_size:
          type: string
          description: Historical cumulative trading volume
        position_size:
          type: string
          description: Current total long position size
        config_change_time:
          type: number
          format: double
          description: Last configuration update time
        in_delisting:
          type: boolean
          description: '`in_delisting=true` and position_size>0 indicates the contract
            is in delisting transition period

            `in_delisting=true` and position_size=0 indicates the contract is delisted'
        orders_limit:
          type: integer
          description: Maximum number of pending orders
        enable_bonus:
          type: boolean
          description: Whether bonus is enabled
        enable_credit:
          type: boolean
          description: Whether portfolio margin account is enabled
        create_time:
          type: number
          format: double
          description: Created time of the contract
        funding_cap_ratio:
          type: string
          description: Deprecated
        status:
          type: string
          description: 'Contract status types include: prelaunch (pre-launch), trading
            (active), delisting (delisting), delisted (delisted), circuit_breaker
            (circuit breaker)'
        launch_time:
          type: integer
          format: int64
          description: Contract expiry timestamp
        delisting_time:
          type: integer
          format: int64
          description: Timestamp when contract enters reduce-only state
        delisted_time:
          type: integer
          format: int64
          description: Contract delisting time
        market_order_slip_ratio:
          type: string
          description: The maximum slippage allowed for market orders, with the slippage
            rate calculated based on the latest market price
        market_order_size_max:
          type: string
          description: The maximum number of contracts supported for market orders,
            with a default value of 0. When the default value is used, the maximum
            number of contracts is limited by the `order_size_max` field
        funding_rate_limit:
          type: string
          description: Upper and lower limits of funding rate
        contract_type:
          type: string
          description: Contract classification type, e.g. stocks, metals, indices,
            forex, commodities, etc.
        funding_impact_value:
          type: string
          description: Funding rate depth impact value
        enable_circuit_breaker:
          type: boolean
          description: Whether the newly launched contract activates mark price circuit
            breaker (If the platform intends to activate this mechanism for a newly
            launched contract market to prevent significant price fluctuations and
            excessive liquidations after launch, an advance announcement will be made).
    Position:
      type: object
      description: Futures position details
      properties:
        user:
          type: integer
          format: int64
          description: User ID
          readOnly: true
        contract:
          type: string
          description: Futures contract
          readOnly: true
        size:
          type: string
          description: Position size
          readOnly: true
        hedge_status:
          type: string
          description: 'The hedging status of the position under the Delta-neutral
            strategy. Including:


            - `partial_hedged`: partially hedged

            - `full_hedged`: fully hedged'
          enum:
          - partial_hedged
          - full_hedged
          readOnly: true
        hedged_size:
          type: string
          description: The hedged position size under the Delta-neutral strategy.
          readOnly: true
        unhedged_size:
          type: string
          description: The unhedged position size under the Delta-neutral strategy,
            calculated as `max(abs(size) - abs(hedged_size), 0)`.
          readOnly: true
        leverage:
          type: string
          description: ' leverage for isolated margin. 0 means cross margin. For leverage
            of cross margin, please refer to `cross_leverage_limit`.'
        risk_limit:
          type: string
          description: Position risk limit
        leverage_max:
          type: string
          description: 'the maximum permissible leverage given to the current positon
            value: the higher positon value, the lower maximum permissible leverage'
          readOnly: true
        maintenance_rate:
          type: string
          description: The maintenance margin requirement for the risk limit at which
            the current position size is located.Since the maintenance margin for
            the position has been calculated using a tiered system, the actual maintenance
            margin rate required for this position is based on `average_maintenance_rate`.
          readOnly: true
        value:
          type: string
          description: Position value calculated in settlement currency
          readOnly: true
        margin:
          type: string
          description: Margin
        entry_price:
          type: string
          description: Entry price
          readOnly: true
        liq_price:
          type: string
          description: Estimated liquidation price, for reference only. The actual
            liquidation trigger is based on the position mmr or the account maintenance
            margin level.
          readOnly: true
        mark_price:
          type: string
          description: Current mark price
          readOnly: true
        initial_margin:
          type: string
          description: Initial margin of postions
          readOnly: true
        maintenance_margin:
          type: string
          description: Maintencance margin of postions
          readOnly: true
        unrealised_pnl:
          type: string
          description: Unrealized PNL
          readOnly: true
        realised_pnl:
          type: string
          description: Realised PnL, the sum of all cash flows generated by this position,
            including settlement of closing positions, settlement of funding fees,
            and transaction fee expenses.
          readOnly: true
        pnl_pnl:
          type: string
          description: settled pnl when closing postion
          readOnly: true
        pnl_fund:
          type: string
          description: funding fees
          readOnly: true
        pnl_fee:
          type: string
          description: trading fees
          readOnly: true
        history_pnl:
          type: string
          description: Total realized PnL from closed positions
          readOnly: true
        last_close_pnl:
          type: string
          description: PNL of last position close
          readOnly: true
        realised_point:
          type: string
          description: Realized POINT PNL
          readOnly: true
        history_point:
          type: string
          description: History realized POINT PNL
          readOnly: true
        adl_ranking:
          type: integer
          description: Ranking of auto deleveraging, a total of 1-5 grades, `1` is
            the highest, `5` is the lowest, and `6` is the special case when there
            is no position held or in liquidation
          readOnly: true
        pending_orders:
          type: integer
          description: Current pending order quantity
          readOnly: true
        close_order:
          type: object
          description: Current close order information, or `null` if no close order
          readOnly: true
          properties:
            id:
              type: integer
              format: int64
              description: Order ID
            price:
              type: string
              description: Order price
            is_liq:
              type: boolean
              description: Whether the close order is from liquidation
          nullable: true
        mode:
          type: string
          description: 'Position mode, including:


            - `single`: One-way Mode

            - `dual_long`: Long position in Hedge Mode

            - `dual_short`: Short position in Hedge Mode'
          enum:
          - single
          - dual_long
          - dual_short
        cross_leverage_limit:
          type: string
          description: leverage for cross margin
        update_time:
          type: integer
          format: int64
          description: Last update time
          readOnly: true
        update_id:
          type: integer
          format: int64
          description: Update ID. The value increments by 1 each time the position
            is updated
          readOnly: true
        open_time:
          type: integer
          format: int64
          description: First Open Time
        risk_limit_table:
          type: string
          description: Risk limit table ID
          readOnly: true
        average_maintenance_rate:
          type: string
          description: Average maintenance margin rate
          readOnly: true
        pid:
          type: integer
          format: int64
          description: Sub-account position ID
          readOnly: true
        pos_margin_mode:
          type: string
          description: Position Margin Mode isolated - Isolated Margin, cross - Cross
            Margin
        lever:
          type: string
          description: Indicates the current leverage of the position, applicable
            to both isolated and cross margin, gradually replacing the current leverage
            and cross_leverage_limit
    PositionTimerange:
      type: object
      description: Contract position details (historical data)
      properties:
        contract:
          type: string
          description: Futures contract
          readOnly: true
        size:
          type: string
          description: Position size
          readOnly: true
        leverage:
          type: string
          description: Position leverage. 0 means cross margin; positive number means
            isolated margin
        risk_limit:
          type: string
          description: Position risk limit
        leverage_max:
          type: string
          description: 'the maximum permissible leverage given to the current positon
            value: the higher positon value, the lower maximum permissible leverage'
          readOnly: true
        maintenance_rate:
          type: string
          description: The maintenance margin rate of the first tier of risk limit
            sheet
          readOnly: true
        margin:
          type: string
          description: Margin
        liq_price:
          type: string
          description: Liquidation price
          readOnly: true
        realised_pnl:
          type: string
          description: Realized PnL
          readOnly: true
        history_pnl:
          type: string
          description: Total realized PnL from closed positions
          readOnly: true
        last_close_pnl:
          type: string
          description: PNL of last position close
          readOnly: true
        realised_point:
          type: string
          description: Realized POINT PNL
          readOnly: true
        history_point:
          type: string
          description: History realized POINT PNL
          readOnly: true
        mode:
          type: string
          description: 'Position mode, including:

            - `single`: One-way Mode

            - `dual_long`: Long position in Hedge Mode

            - `dual_short`: Short position in Hedge Mode'
        cross_leverage_limit:
          type: string
          description: Cross margin leverage (valid only when `leverage` is 0)
        entry_price:
          type: string
          description: Entry price
          readOnly: true
        time:
          type: integer
          format: int64
          description: Timestamp
    FuturesOrder:
      type: object
      description: Futures order details
      required:
      - contract
      - size
      - price
      properties:
        id:
          type: integer
          format: int64
          description: Futures order ID
          readOnly: true
          x-is-bigint: true
        user:
          type: integer
          description: User ID
          readOnly: true
        create_time:
          type: number
          format: double
          description: Creation time of order
          readOnly: true
        update_time:
          type: number
          format: double
          description: OrderUpdateTime
          readOnly: true
        finish_time:
          type: number
          format: double
          description: Order finished time. Not returned if order is open
          readOnly: true
        finish_as:
          type: string
          description: 'How the order was finished:


            - filled: all filled

            - cancelled: manually cancelled

            - liquidated: cancelled because of liquidation

            - ioc: time in force is `IOC`, finish immediately

            - auto_deleveraged: finished by ADL

            - reduce_only: cancelled because of increasing position while `reduce-only`
            set

            - position_closed: cancelled because the position was closed

            - reduce_out: only reduce positions by excluding hard-to-fill orders

            - stp: cancelled because self trade prevention'
          enum:
          - filled
          - cancelled
          - liquidated
          - ioc
          - auto_deleveraged
          - reduce_only
          - position_closed
          - reduce_out
          - stp
          readOnly: true
        status:
          type: string
          description: 'Order status


            - `open`: Pending

            - `finished`: Completed'
          readOnly: true
          enum:
          - open
          - finished
        contract:
          type: string
          description: Futures contract
        size:
          type: string
          description: Required. Trading quantity. Positive for buy, negative for
            sell. Set to 0 for close position orders.
        iceberg:
          type: string
          description: Display size for iceberg orders. 0 for non-iceberg orders.
            Note that hidden portions are charged taker fees.
        price:
          type: string
          description: Required. Order Price; a price of 0 with `tif` as `ioc` represents
            a market order.
        close:
          type: boolean
          description: Set as `true` to close the position, with `size` set to 0
          default: false
          writeOnly: true
        is_close:
          type: boolean
          description: Is the order to close position
          readOnly: true
        reduce_only:
          type: boolean
          description: Set as `true` to be reduce-only order
          default: false
          writeOnly: true
        is_reduce_only:
          type: boolean
          description: Is the order reduce-only
          readOnly: true
        is_liq:
          type: boolean
          description: Is the order for liquidation
          readOnly: true
        tif:
          type: string
          description: 'Time in force


            - gtc: GoodTillCancelled

            - ioc: ImmediateOrCancelled, taker only

            - poc: PendingOrCancelled, makes a post-only order that always enjoys
            a maker fee

            - fok: FillOrKill, fill either completely or none'
          default: gtc
          enum:
          - gtc
          - ioc
          - poc
          - fok
        left:
          type: string
          description: Unfilled quantity
          readOnly: true
        fill_price:
          type: string
          description: Fill price
          readOnly: true
        text:
          type: string
          description: 'Custom order information. If not empty, must follow the rules
            below:


            1. Prefixed with `t-`

            2. No longer than 28 bytes without `t-` prefix

            3. Can only include 0-9, A-Z, a-z, underscore(_), hyphen(-) or dot(.)


            In addition to user-defined information, the following are internal reserved
            fields that identify the order source:


            - web: Web

            - api: API call

            - app: Mobile app

            - auto_deleveraging: Automatic deleveraging

            - liquidation: Forced liquidation of positions under the old classic mode

            - liq-xxx: a. Forced liquidation of positions under the new classic mode,
            including isolated margin, one-way cross margin, and non-hedged positions
            under two-way cross margin. b. Forced liquidation of isolated positions
            under the unified account single-currency margin mode

            - hedge-liq-xxx: Forced liquidation of hedged positions under the new
            classic mode two-way cross margin, i.e., simultaneously closing long and
            short positions

            - pm_liquidate: Forced liquidation under unified account multi-currency
            margin mode

            - comb_margin_liquidate: Forced liquidation under unified account portfolio
            margin mode

            - scm_liquidate: Forced liquidation of positions under unified account
            single-currency margin mode

            - insurance: Insurance

            - clear: Contract delisting withdrawal'
        tkfr:
          type: string
          description: Taker fee
          readOnly: true
        mkfr:
          type: string
          description: Maker fee
          readOnly: true
        refu:
          type: integer
          description: Referrer user ID
          readOnly: true
        auto_size:
          type: string
          description: Set side to close dual-mode position. `close_long` closes the
            long side; while `close_short` the short one. Note `size` also needs to
            be set to 0
          writeOnly: true
          enum:
          - close_long
          - close_short
        stp_id:
          type: integer
          description: 'Orders between users in the same `stp_id` group are not allowed
            to be self-traded


            1. If the `stp_id` of two orders being matched is non-zero and equal,
            they will not be executed. Instead, the corresponding strategy will be
            executed based on the `stp_act` of the taker.

            2. `stp_id` returns `0` by default for orders that have not been set for
            `STP group`'
          readOnly: true
        stp_act:
          type: string
          description: 'Self-Trading Prevention Action. Users can use this field to
            set self-trade prevention strategies


            1. After users join the `STP Group`, they can pass `stp_act` to limit
            the user''s self-trade prevention strategy. If `stp_act` is not passed,
            the default is `cn` strategy.

            2. When the user does not join the `STP group`, an error will be returned
            when passing the `stp_act` parameter.

            3. If the user did not use `stp_act` when placing the order, `stp_act`
            will return ''-''


            - cn: Cancel newest, cancel new orders and keep old ones

            - co: Cancel oldest, cancel old orders and keep new ones

            - cb: Cancel both, both old and new orders will be cancelled'
          enum:
          - co
          - cn
          - cb
          - '-'
        amend_text:
          type: string
          description: The custom data that the user remarked when amending the order
          readOnly: true
        pid:
          type: integer
          format: int64
          description: Position ID
          writeOnly: true
        market_order_slip_ratio:
          type: string
          description: Custom maximum slippage rate for market orders. If not provided,
            the default contract settings will be used
        pos_margin_mode:
          type: string
          description: Position Margin Mode isolated - Isolated Margin, cross - Cross
            Margin, only passed in simple split position mode
        action_mode:
          type: string
          description: 'Processing Mode


            When placing an order, different fields are returned based on the action_mode


            - `ACK`: Asynchronous mode, returns only key order fields

            - `RESULT`: No clearing information

            - `FULL`: Full mode (default)'
        tpsl_tp_trigger_price:
          type: string
          description: Take profit price
        tpsl_sl_trigger_price:
          type: string
          description: Stop loss price
        tpsl_tp_bbo_type:
          type: string
          description: Take profit BBO type
        tpsl_sl_bbo_type:
          type: string
          description: Stop loss BBO type
    FuturesOrderTimerange:
      type: object
      description: Futures order details
      required:
      - contract
      - size
      - price
      properties:
        id:
          type: integer
          format: int64
          description: Futures order ID
          readOnly: true
          x-is-bigint: true
        user:
          type: integer
          description: User ID
          readOnly: true
        create_time:
          type: number
          format: double
          description: Creation time of order
          readOnly: true
        update_time:
          type: string
          description: OrderUpdateTime
          readOnly: true
        finish_time:
          type: string
          description: Order finished time. Not returned if order is open
          readOnly: true
        finish_as:
          type: string
          description: 'How the order was finished:


            - filled: all filled

            - cancelled: manually cancelled

            - liquidated: cancelled because of liquidation

            - ioc: time in force is `IOC`, finish immediately

            - auto_deleveraged: finished by ADL

            - reduce_only: cancelled because of increasing position while `reduce-only`
            set

            - position_closed: cancelled because the position was closed

            - reduce_out: only reduce positions by excluding hard-to-fill orders

            - stp: cancelled because self trade prevention'
          enum:
          - filled
          - cancelled
          - liquidated
          - ioc
          - auto_deleveraged
          - reduce_only
          - position_closed
          - reduce_out
          - stp
          readOnly: true
        status:
          type: string
          description: 'Order status


            - `open`: Pending

            - `finished`: Completed'
          readOnly: true
          enum:
          - open
          - finished
        contract:
          type: string
          description: Futures contract
        size:
          type: string
          description: Required. Trading quantity. Positive for buy, negative for
            sell. Set to 0 for close position orders.
        iceberg:
          type: string
          description: Display size for iceberg orders. 0 for non-iceberg orders.
            Note that hidden portions are charged taker fees.
        price:
          type: string
          description: Required. Order Price; a price of 0 with `tif` as `ioc` represents
            a market order.
        close:
          type: boolean
          description: Set as `true` to close the position, with `size` set to 0
          default: false
          writeOnly: true
        is_close:
          type: boolean
          description: Is the order to close position
          readOnly: true
        reduce_only:
          type: boolean
          description: Set as `true` to be reduce-only order
          default: false
          writeOnly: true
        is_reduce_only:
          type: boolean
          description: Is the order reduce-only
          readOnly: true
        is_liq:
          type: boolean
          description: Is the order for liquidation
          readOnly: true
        tif:
          type: string
          description: 'Time in force


            - gtc: GoodTillCancelled

            - ioc: ImmediateOrCancelled, taker only

            - poc: PendingOrCancelled, makes a post-only order that always enjoys
            a maker fee

            - fok: FillOrKill, fill either completely or none'
          default: gtc
          enum:
          - gtc
          - ioc
          - poc
          - fok
        left:
          type: string
          description: Unfilled quantity
          readOnly: true
        fill_price:
          type: string
          description: Fill price
          readOnly: true
        text:
          type: string
          description: 'Custom order information. If not empty, must follow the rules
            below:


            1. Prefixed with `t-`

            2. No longer than 28 bytes without `t-` prefix

            3. Can only include 0-9, A-Z, a-z, underscore(_), hyphen(-) or dot(.)


            In addition to user-defined information, the following are internal reserved
            fields that identify the order source:


            - web: Web

            - api: API call

            - app: Mobile app

            - auto_deleveraging: Automatic deleveraging

            - liquidation: Forced liquidation of positions under the old classic mode

            - liq-xxx: a. Forced liquidation of positions under the new classic mode,
            including isolated margin, one-way cross margin, and non-hedged positions
            under two-way cross margin. b. Forced liquidation of isolated positions
            under the unified account single-currency margin mode

            - hedge-liq-xxx: Forced liquidation of hedged positions under the new
            classic mode two-way cross margin, i.e., simultaneously closing long and
            short positions

            - pm_liquidate: Forced liquidation under unified account multi-currency
            margin mode

            - comb_margin_liquidate: Forced liquidation under unified account portfolio
            margin mode

            - scm_liquidate: Forced liquidation of positions under unified account
            single-currency margin mode

            - insurance: Insurance

            - clear: Contract delisting withdrawal'
        tkfr:
          type: string
          description: Taker fee
          readOnly: true
        mkfr:
          type: string
          description: Maker fee
          readOnly: true
        refu:
          type: integer
          description: Referrer user ID
          readOnly: true
        auto_size:
          type: string
          description: Set side to close dual-mode position. `close_long` closes the
            long side; while `close_short` the short one. Note `size` also needs to
            be set to 0
          writeOnly: true
          enum:
          - close_long
          - close_short
        stp_id:
          type: integer
          description: 'Orders between users in the same `stp_id` group are not allowed
            to be self-traded


            1. If the `stp_id` of two orders being matched is non-zero and equal,
            they will not be executed. Instead, the corresponding strategy will be
            executed based on the `stp_act` of the taker.

            2. `stp_id` returns `0` by default for orders that have not been set for
            `STP group`'
          readOnly: true
        stp_act:
          type: string
          description: 'Self-Trading Prevention Action. Users can use this field to
            set self-trade prevention strategies


            1. After users join the `STP Group`, they can pass `stp_act` to limit
            the user''s self-trade prevention strategy. If `stp_act` is not passed,
            the default is `cn` strategy.

            2. When the user does not join the `STP group`, an error will be returned
            when passing the `stp_act` parameter.

            3. If the user did not use `stp_act` when placing the order, `stp_act`
            will return ''-''


            - cn: Cancel newest, cancel new orders and keep old ones

            - co: Cancel oldest, cancel old orders and keep new ones

            - cb: Cancel both, both old and new orders will be cancelled'
          enum:
          - co
          - cn
          - cb
          - '-'
        amend_text:
          type: string
          description: The custom data that the user remarked when amending the order
          readOnly: true
        pid:
          type: integer
          format: int64
          description: Position ID
          writeOnly: true
        market_order_slip_ratio:
          type: string
          description: Custom maximum slippage rate for market orders. If not provided,
            the default contract settings will be used
        pos_margin_mode:
          type: string
          description: Position Margin Mode isolated - Isolated Margin, cross - Cross
            Margin, only passed in simple split position mode
        tpsl_tp_trigger_price:
          type: string
          description: Take profit price
        tpsl_sl_trigger_price:
          type: string
          description: Stop loss price
    FuturesBBOOrder:
      type: object
      description: contractBBOorderdetails
      required:
      - contract
      - size
      - level
      - direction
      properties:
        contract:
          type: string
          description: Futures contract
        size:
          type: integer
          format: int64
          description: Required. Trading quantity. Positive for buy, negative for
            sell. Set to 0 for close position orders.
        direction:
          type: string
          description: 'Direction: ''sell'' fetches the bid side, ''buy'' fetches
            the ask side.'
        iceberg:
          type: integer
          format: int64
          description: Display size for iceberg orders. 0 for non-iceberg orders.
            Note that hidden portions are charged taker fees.
        level:
          type: integer
          format: int64
          writeOnly: true
          description: 'Level: maximum 20 levels'
        close:
          type: boolean
          description: Set as `true` to close the position, with `size` set to 0
          default: false
          writeOnly: true
        is_close:
          type: boolean
          description: Is the order to close position
          readOnly: true
        reduce_only:
          type: boolean
          description: Set as `true` to be reduce-only order
          default: false
          writeOnly: true
        is_reduce_only:
          type: boolean
          description: Is the order reduce-only
          readOnly: true
        is_liq:
          type: boolean
          description: Is the order for liquidation
          readOnly: true
        tif:
          type: string
          description: 'Time in force


            - gtc: GoodTillCancelled

            - ioc: ImmediateOrCancelled, taker only

            - poc: PendingOrCancelled, makes a post-only order that always enjoys
            a maker fee

            - fok: FillOrKill, fill either completely or none'
          default: gtc
          enum:
          - gtc
          - ioc
          - poc
          - fok
        left:
          type: integer
          format: int64
          description: Unfilled quantity
          readOnly: true
        fill_price:
          type: string
          description: Fill price
          readOnly: true
        text:
          type: string
          description: 'Order Custom Information: Users can set custom IDs via this
            field. Custom fields must meet the following conditions:


            1. Must start with `t-`

            2. Excluding `t-`, length cannot exceed 28 bytes

            3. Content can only contain numbers, letters, underscores (_), hyphens
            (-), or dots (.)


            In addition to user custom information, the following are internal reserved
            fields identifying order sources:


            - web: Web

            - api: API Call

            - app: Mobile App

            - auto_deleveraging: Auto-Deleveraging

            - liquidation: Forced Liquidation of Legacy Classic Mode Positions

            - liq-xxx: a. Forced liquidation of New Classic Mode positions, including
            isolated margin, single-direction cross margin, and non-hedged dual-direction
            cross margin positions. b. Forced liquidation of isolated margin positions
            in Unified Account Single-Currency Margin Mode

            - hedge-liq-xxx: Forced liquidation of hedged portions in New Classic
            Mode dual-direction cross margin (simultaneous closing of long and short
            positions)

            - pm_liquidate: Forced liquidation in Unified Account Cross-Currency Margin
            Mode

            - comb_margin_liquidate: Forced liquidation in Unified Account Portfolio
            Margin Mode

            - scm_liquidate: Forced liquidation of positions in Unified Account Single-Currency
            Margin Mode

            - insurance: Insurance'
        tkfr:
          type: string
          description: Taker fee
          readOnly: true
        mkfr:
          type: string
          description: Maker fee
          readOnly: true
        refu:
          type: integer
          description: Referrer user ID
          readOnly: true
        auto_size:
          type: string
          description: Set side to close dual-mode position. `close_long` closes the
            long side; while `close_short` the short one. Note `size` also needs to
            be set to 0
          writeOnly: true
          enum:
          - close_long
          - close_short
        stp_id:
          type: integer
          description: 'Orders between users in the same `stp_id` group are not allowed
            to be self-traded


            1. If the `stp_id` of two orders being matched is non-zero and equal,
            they will not be executed. Instead, the corresponding strategy will be
            executed based on the `stp_act` of the taker.

            2. `stp_id` returns `0` by default for orders that have not been set for
            `STP group`'
          readOnly: true
        stp_act:
          type: string
          description: 'Self-Trading Prevention Action. Users can use this field to
            set self-trade prevention strategies


            1. After users join the `STP Group`, they can pass `stp_act` to limit
            the user''s self-trade prevention strategy. If `stp_act` is not passed,
            the default is `cn` strategy.

            2. When the user does not join the `STP group`, an error will be returned
            when passing the `stp_act` parameter.

            3. If the user did not use `stp_act` when placing the order, `stp_act`
            will return ''-''


            - cn: Cancel newest, cancel new orders and keep old ones

            - co: Cancel oldest, cancel old orders and keep new ones

            - cb: Cancel both, both old and new orders will be cancelled'
          enum:
          - co
          - cn
          - cb
          - '-'
        amend_text:
          type: string
          description: The custom data that the user remarked when amending the order
          readOnly: true
        pid:
          type: integer
          format: int64
          description: Position ID
          writeOnly: true
    BatchAmendOrderReq:
      type: object
      description: Modify contract order parameters
      properties:
        order_id:
          type: integer
          format: int64
          description: Order id, order_id and text must contain at least one
        text:
          type: string
          description: User-defined order text, at least one of order_id and text
            must be passed
        size:
          type: string
          description: 'New order size, including filled size.

            - If less than or equal to the filled quantity, the order will be cancelled.

            - The new order side must be identical to the original one.

            - Close order size cannot be modified.

            - For reduce-only orders, increasing the size may cancel other reduce-only
            orders.

            - If the price is not modified, decreasing the size will not affect the
            depth queue, while increasing the size will place it at the end of the
            current price level.'
        price:
          type: string
          description: New order price
        amend_text:
          type: string
          description: Custom info during order amendment
        action_mode:
          type: string
          description: 'Processing Mode


            When placing an order, different fields are returned based on the action_mode


            - `ACK`: Asynchronous mode, returns only key order fields

            - `RESULT`: No clearing information

            - `FULL`: Full mode (default)'
    BatchFundingRatesRequest:
      type: object
      required:
      - contracts
      properties:
        contracts:
          type: array
          description: Array of Contract Names
          minItems: 1
          maxItems: 200
          items:
            type: string
          example:
          - BTC_USDT
          - ETH_USDT
    BatchFundingRatesResponse:
      type: object
      properties:
        contract:
          type: string
          description: Contract name
        data:
          type: array
          description: Array of Funding Rates
          items:
            $ref: '#/components/schemas/FundingRateRecord'
    FundingRateRecord:
      type: object
      properties:
        t:
          type: integer
          format: int64
          description: Unix timestamp in seconds
        r:
          type: string
          description: Funding rate
    CreateTrailOrderResponse:
      title: CreateTrailOrderResponse
      type: object
      properties:
        code:
          type: integer
          format: int32
          description: Status code, 0 means success
        message:
          type: string
          description: Response message
        data:
          title: CreateTrailOrderResult
          type: object
          properties:
            id:
              type: string
              description: Order ID
              x-is-bigint: true
        timestamp:
          type: integer
          format: int64
          description: Response timestamp (milliseconds)
    TrailOrderDetailResponse:
      title: TrailOrderDetailResponse
      type: object
      properties:
        code:
          type: integer
          format: int32
          description: Status code, 0 means success
        message:
          type: string
          description: Response message
        data:
          title: TrailOrderResponse
          type: object
          properties:
            order:
              title: TrailOrder
              type: object
              description: Trail order details
              properties:
                id:
                  type: integer
                  format: int64
                  description: Order ID
                  readOnly: true
                  x-is-bigint: true
                user_id:
                  type: integer
                  format: int64
                  description: User ID
                  readOnly: true
                  x-is-bigint: true
                user:
                  type: integer
                  format: int64
                  description: User ID
                  readOnly: true
                  x-is-bigint: true
                contract:
                  type: string
                  description: Contract name
                settle:
                  type: string
                  description: Settle currency
                amount:
                  type: string
                  description: Trading quantity in contracts, positive for buy, negative
                    for sell
                is_gte:
                  type: boolean
                  description: 'true: activate when market price >= activation price,
                    false: <= activation price'
                activation_price:
                  type: string
                  description: Activation price, 0 means trigger immediately
                price_type:
                  type: integer
                  format: int32
                  description: 'Activation price type: 0-unknown, 1-latest price,
                    2-index price, 3-mark price'
                  enum:
                  - 0
                  - 1
                  - 2
                  - 3
                price_offset:
                  type: string
                  description: Callback ratio or price distance, e.g., `0.1` or `0.1%`
                text:
                  type: string
                  description: Custom field
                reduce_only:
                  type: boolean
                  description: Reduce Position Only
                position_related:
                  type: boolean
                  description: Whether bound to position
                created_at:
                  type: integer
                  format: int64
                  description: Created time
                  readOnly: true
                activated_at:
                  type: integer
                  format: int64
                  description: Activation time
                  readOnly: true
                finished_at:
                  type: integer
                  format: int64
                  description: End time
                  readOnly: true
                create_time:
                  type: integer
                  format: int64
                  description: Created time
                  readOnly: true
                active_time:
                  type: integer
                  format: int64
                  description: Activation time
                  readOnly: true
                finish_time:
                  type: integer
                  format: int64
                  description: End time
                  readOnly: true
                reason:
                  type: string
                  description: End reason
                  readOnly: true
                suborder_text:
                  type: string
                  description: Sub-order text field
                  readOnly: true
                is_dual_mode:
                  type: boolean
                  description: Whether dual position mode when creating order
                  readOnly: true
                trigger_price:
                  type: string
                  description: Trigger price
                  readOnly: true
                suborder_id:
                  type: integer
                  format: int64
                  description: Sub-order ID
                  readOnly: true
                  x-is-bigint: true
                side_label:
                  type: string
                  description: 'Order direction label: long/short/open long/open short/close
                    long/close short'
                  readOnly: true
                original_status:
                  type: integer
                  format: int32
                  description: Order status
                  readOnly: true
                status:
                  type: string
                  description: 'Simplified order status: open/finished'
                  readOnly: true
                  enum:
                  - open
                  - finished
                position_side_output:
                  type: string
                  description: Same as side_label, client requires consistency with
                    other order types
                  readOnly: true
                updated_at:
                  type: integer
                  format: int64
                  description: Update time
                  readOnly: true
                extremum_price:
                  type: string
                  description: Extremum price
                  readOnly: true
                status_code:
                  type: string
                  description: Status code value
                  readOnly: true
                created_at_precise:
                  type: string
                  description: Creation time (high precision, seconds.microseconds
                    format)
                  readOnly: true
                finished_at_precise:
                  type: string
                  description: End time (high precision, seconds.microseconds format)
                  readOnly: true
                activated_at_precise:
                  type: string
                  description: Activation time (high precision, seconds.microseconds
                    format)
                  readOnly: true
                status_label:
                  type: string
                  description: Status internationalization label (translated status
                    text)
                  readOnly: true
                pos_margin_mode:
                  type: string
                  description: 'Position margin mode: isolated/cross'
                  readOnly: true
                position_mode:
                  type: string
                  description: 'Position mode: single, dual, and dual_plus'
                  readOnly: true
                error_label:
                  type: string
                  description: Error label
                  readOnly: true
                leverage:
                  type: string
                  description: Leverage
                  readOnly: true
        timestamp:
          type: integer
          format: int64
          description: Response timestamp (milliseconds)
    TrailOrderChangeLogResponse:
      title: TrailOrderChangeLogResponse
      type: object
      properties:
        change_log:
          type: array
          items:
            $ref: '#/components/schemas/TrailChangeLog'
    CreateChaseOrderReq:
      type: object
      description: Request body for creating a chase order
      required:
      - contract
      - amount
      - price_limit
      properties:
        contract:
          type: string
          description: Contract name; server-side converted to uppercase
        settle:
          type: string
          description: Settle currency, overridden by the path parameter and converted
            to lowercase
        amount:
          type: string
          description: Total order size in contracts, decimal string. Positive for
            buy, negative for sell. Cannot be 0
        price_limit:
          type: string
          description: 最高追逐价，合法十进制字符串；未设置限价时请传 "0"
        offset_limit:
          type: string
          description: Maximum chasing distance from the best price, mutually exclusive
            with price_limit
        reduce_only:
          type: boolean
          description: Whether reduce only
        text:
          type: string
          description: Optional custom tag
        is_dual_mode:
          type: boolean
          description: Whether dual-position mode is enabled
        price_type:
          type: integer
          format: int64
          description: 'Price type: 1 best bid/ask, 2 distance from best bid/ask'
        price_gap_type:
          type: integer
          format: int64
          description: 'Used when price_type == 2: 1 absolute price gap, 2 percentage'
        price_gap_value:
          type: string
          description: Price gap value paired with price_gap_type
        pos_margin_mode:
          type: string
          description: Position margin mode, e.g. isolated or cross
        position_mode:
          type: string
          description: Position mode (e.g. single, dual, dual_plus)
    CreateChaseOrderResp:
      type: object
      properties:
        id:
          type: string
          description: ID of the newly created order
    StopChaseOrderReq:
      type: object
      description: Request body for stopping a chase order
      properties:
        id:
          type: string
          description: Order ID. Either id or text must be provided
        text:
          type: string
          description: Custom text. Required only when id is 0 or omitted
        settle:
          type: string
          description: Overridden by the path parameter
    StopChaseOrderResp:
      type: object
      properties:
        order:
          $ref: '#/components/schemas/ChaseOrder'
    StopAllChaseOrdersReq:
      type: object
      description: Request body for stopping chase orders in batch
      properties:
        contract:
          type: string
          description: Optional contract name
        settle:
          type: string
          description: Overridden by the path parameter
        pos_margin_mode:
          type: string
          description: Optional margin mode
    StopAllChaseOrdersResp:
      type: object
      properties:
        orders:
          type: array
          items:
            $ref: '#/components/schemas/ChaseOrder'
    GetChaseOrdersResp:
      type: object
      properties:
        orders:
          type: array
          items:
            $ref: '#/components/schemas/ChaseOrder'
    GetChaseOrderDetailResp:
      type: object
      properties:
        order:
          $ref: '#/components/schemas/ChaseOrder'
    FuturesADLRiskState:
      type: object
      title: FuturesADLRiskState
      required:
      - state
      - calculated_at_ms
      properties:
        state:
          type: string
          description: Market ADL risk state
          enum:
          - normal
          - warning
          - adl_risk
          example: normal
        calculated_at_ms:
          type: integer
          format: int64
          description: State calculation time, as a Unix timestamp in milliseconds
          example: 1786695185345
    TrailChangeLog:
      type: object
      description: Trail order modification records
      properties:
        updated_at:
          type: integer
          format: int64
          description: Update time
          readOnly: true
        amount:
          type: string
          description: Trading quantity in contracts, positive for buy, negative for
            sell
          readOnly: true
        is_gte:
          type: boolean
          description: 'true: activate when market price >= activation price, false:
            <= activation price'
          readOnly: true
        activation_price:
          type: string
          description: Activation price, 0 means trigger immediately
          readOnly: true
        price_type:
          type: integer
          format: int32
          description: 'Activation price type: 0-unknown, 1-latest price, 2-index
            price, 3-mark price'
          readOnly: true
          enum:
          - 0
          - 1
          - 2
          - 3
        price_offset:
          type: string
          description: Callback ratio or price distance, e.g., `0.1` or `0.1%`
          readOnly: true
        is_create:
          type: boolean
          description: true - order creation, false - order modification
          readOnly: true
    ChaseOrder:
      type: object
      description: Chase order detail or list item
      properties:
        id:
          type: string
        user:
          type: string
        contract:
          type: string
        settle:
          type: string
        amount:
          type: string
          description: Total size in contracts; positive for buy, negative for sell
        price_limit:
          type: string
        reduce_only:
          type: boolean
        text:
          type: string
        create_time:
          type: integer
          format: int64
        finish_time:
          type: integer
          format: int64
        original_status:
          type: integer
          description: Raw status enum
        status:
          type: string
          description: Simplified status, e.g. open / finished
        reason:
          type: string
        fill_amount:
          type: string
        average_fill_price:
          type: string
        suborder_id:
          type: string
        is_dual_mode:
          type: boolean
        side_label:
          type: string
        position_side_output:
          type: string
        chase_price:
          type: string
        interval_sec:
          type: integer
          format: uint32
        updated_at:
          type: integer
          format: int64
        suborder_price:
          type: string
        suborder_ongoing:
          type: boolean
        suborder_finish_as:
          type: string
        price_type:
          type: integer
          description: 'PriceType enum: 1 latest, 2 index, 3 mark'
        price_gap_type:
          type: string
        price_gap_value:
          type: string
        status_code:
          type: string
        create_time_precise:
          type: string
          description: Creation time (seconds.microseconds)
        finish_time_precise:
          type: string
        pos_margin_mode:
          type: string
        position_mode:
          type: string
        leverage:
          type: string
        error_label:
          type: string
    FuturesPriceTriggeredOrder:
      type: object
      description: Futures price-triggered order details
      required:
      - initial
      - trigger
      properties:
        initial:
          $ref: '#/components/schemas/FuturesInitialOrder'
        trigger:
          $ref: '#/components/schemas/FuturesPriceTrigger'
        id:
          type: integer
          format: int64
          description: Auto order ID
          readOnly: true
          x-is-bigint: true
        id_string:
          type: string
          description: 'String form of the auto order ID; the same order as numeric
            `id`, as the decimal string of `id` to avoid int64 precision loss in JavaScript
            and similar environments.

            Prefer this field to display the order ID or when a string unique identifier
            is needed; one-to-one with `id`. Same meaning as the field of the same
            name in futures price-trigger REST APIs and in `futures.orders` / `futures.autoorders`
            WebSocket pushes.'
          readOnly: true
        user:
          type: integer
          description: User ID
          readOnly: true
        create_time:
          type: number
          format: double
          description: Created time
          readOnly: true
        finish_time:
          type: number
          format: double
          description: End time
          readOnly: true
        trade_id:
          type: integer
          format: int64
          description: ID of the order created after trigger
          readOnly: true
        status:
          type: string
          description: 'Order status


            - `open`: Active

            - `finished`: Finished

            - `inactive`: Inactive, only applies to order take-profit/stop-loss

            - `invalid`: Invalid, only applies to order take-profit/stop-loss'
          enum:
          - open
          - finished
          - inactive
          - invalid
          readOnly: true
        finish_as:
          type: string
          description: 'Finish status: cancelled - Cancelled; succeeded - Succeeded;
            failed - Failed; expired - Expired'
          enum:
          - cancelled
          - succeeded
          - failed
          - expired
          readOnly: true
        reason:
          type: string
          description: Additional description of how the order was completed
          readOnly: true
        order_type:
          type: string
          description: 'Types of take-profit and stop-loss orders, including:


            - `close-long-order`: Order take-profit/stop-loss, close long position

            - `close-short-order`: Order take-profit/stop-loss, close short position

            - `close-long-position`: Position take-profit/stop-loss, used to close
            all long positions

            - `close-short-position`: Position take-profit/stop-loss, used to close
            all short positions

            - `plan-close-long-position`: Position plan take-profit/stop-loss, used
            to close all or partial long positions

            - `plan-close-short-position`: Position plan take-profit/stop-loss, used
            to close all or partial short positions


            The two types of order take-profit/stop-loss are read-only and cannot
            be passed in requests'
        me_order_id:
          type: integer
          format: int64
          description: Corresponding order ID for order take-profit/stop-loss orders
          readOnly: true
          x-is-bigint: true
        pos_margin_mode:
          type: string
          description: 'Position margin mode: `isolated` (isolated margin) or `cross`
            (cross margin).

            Returned by the server in simple split-position mode; when writing, use
            only the values below.'
          enum:
          - isolated
          - cross
    FuturesInitialOrder:
      type: object
      required:
      - contract
      - price
      properties:
        contract:
          type: string
          description: Futures contract
        size:
          type: integer
          format: int64
          description: "Represents the number of contracts that need to be closed,\
            \ full closing: size=0\nPartial closing: plan-close-short-position size>0\
            \ \nPartial closing: plan-close-long-position size<0"
        amount:
          type: string
          description: Same as `size`; used for decimal contract size. When both `size`
            and `amount` are provided, `amount` takes precedence.
        price:
          type: string
          description: Order price. Set to 0 to use market price
        close:
          type: boolean
          description: 'When fully closing a position in single-position mode, close
            must be set to true to execute the close operation.

            When partially closing a position in single-position mode or in dual-position
            mode, close can be left unset or set to false.'
          default: false
          writeOnly: true
        tif:
          type: string
          description: 'Time in force strategy, default is gtc, market orders currently
            only support ioc mode


            - gtc: GoodTillCancelled

            - ioc: ImmediateOrCancelled'
          default: gtc
          enum:
          - gtc
          - ioc
        text:
          type: string
          description: 'The source of the order, including:

            - web: Web

            - api: API call

            - app: Mobile app'
        reduce_only:
          type: boolean
          description: When set to true, perform automatic position reduction operation.
            Set to true to ensure that the order will not open a new position, and
            is only used to close or reduce positions
          default: false
        auto_size:
          type: string
          description: 'One-way Mode: auto_size is not required

            Hedge Mode full closing (size=0): auto_size must be set, close_long for
            closing long positions, close_short for closing short positions

            Hedge Mode partial closing (size≠0): auto_size is not required'
          writeOnly: true
        is_reduce_only:
          type: boolean
          description: Is the order reduce-only
          readOnly: true
        is_close:
          type: boolean
          description: Is the order to close position
          readOnly: true
    FuturesPriceTrigger:
      type: object
      required:
      - price
      - rule
      properties:
        strategy_type:
          type: integer
          format: int32
          description: "Trigger Strategy\n\n - 0: Price trigger, triggered when price\
            \ meets conditions\n - 1: Price spread trigger, i.e. the difference between\
            \ the latest price specified in `price_type` and the second-last price\n\
            Currently only supports 0 (latest transaction price)"
          enum:
          - 0
          - 1
        price_type:
          type: integer
          format: int32
          description: Reference price type. 0 - Latest trade price, 1 - Mark price,
            2 - Index price
          enum:
          - 0
          - 1
          - 2
        price:
          type: string
          description: Price value for price trigger, or spread value for spread trigger
        rule:
          type: integer
          format: int32
          description: 'Price Condition Type


            - 1: Trigger when the price calculated based on `strategy_type` and `price_type`
            is greater than or equal to `Trigger.Price`, while Trigger.Price must
            > last_price

            - 2: Trigger when the price calculated based on `strategy_type` and `price_type`
            is less than or equal to `Trigger.Price`, and Trigger.Price must < last_price'
          enum:
          - 1
          - 2
        expiration:
          type: integer
          description: Maximum wait time for trigger condition (in seconds). Order
            will be cancelled if timeout
    FuturesUpdatePriceTriggeredOrder:
      type: object
      description: Modify Price Order Details
      required:
      - order_id
      properties:
        settle:
          type: string
          description: Perpetual futures settlement currency, e.g. usdt, btc, usd1
        order_id:
          type: integer
          format: int64
          description: ID of the Pending Take-Profit/Stop-Loss Trigger Order
          x-is-bigint: true
        size:
          type: integer
          format: int64
          description: 'Modified Contract Quantity. Full Close: 0; Partial Close:
            Positive/Negative values indicate direction (consistent with the creation
            interface logic).'
        amount:
          type: string
          description: Same as `size`; used for decimal contract size. When both `size`
            and `amount` are provided, `amount` takes precedence.
        price:
          type: string
          description: Represents the modified trading price. A value of 0 indicates
            a market order.
        trigger_price:
          type: string
          description: Modified Trigger Price
        price_type:
          type: integer
          format: int32
          description: Reference price type. 0 - Latest trade price, 1 - Mark price,
            2 - Index price
          enum:
          - 0
          - 1
          - 2
        auto_size:
          type: string
          description: 'One-way Mode: auto_size is not required

            Hedge Mode partial closing (size≠0): auto_size is not required

            Hedge Mode full closing (size=0): auto_size must be set, close_long for
            closing long positions, close_short for closing short positions'
        close:
          type: boolean
          description: 'When fully closing a position in single-position mode, close
            must be set to true to execute the close operation.

            When partially closing a position in single-position mode or in dual-position
            mode, close can be left unset or set to false.'
    TradFiTransactionRequest:
      type: object
      description: Fund Transfer Request Body
      required:
      - asset
      - change
      - type
      properties:
        asset:
          type: string
          description: Asset type, e.g., USDT, currently only USDT is supported
          example: USDT
        change:
          type: string
          description: Change Quantity, supports up to two decimal places
          example: '10'
        type:
          type: string
          description: Transaction Type (deposit - transfer in, withdraw - transfer
            out)
          enum:
          - deposit
          - withdraw
          example: withdraw
    TradFiOrderRequest:
      type: object
      description: Place order request parameters
      required:
      - price
      - price_type
      - side
      - symbol
      - volume
      properties:
        price:
          type: string
          description: Order price
          example: '0.9'
        price_type:
          type: string
          description: Price type (trigger=trigger price, market=market price)
          enum:
          - trigger
          - market
          example: trigger
        side:
          type: integer
          description: Side (1=sell, 2=buy)
          enum:
          - 1
          - 2
          example: 2
        symbol:
          type: string
          description: Trading symbol code
          example: EURUSD
        volume:
          type: string
          description: Order quantity
          example: '10'
        price_tp:
          type: string
          description: Take profit price (optional)
          example: '1.5'
        price_sl:
          type: string
          description: Stop loss price (optional)
          example: '0.8'
    TradFiOrderUpdateRequest:
      type: object
      description: Modify order price and take profit/stop loss parameters
      required:
      - price
      properties:
        price:
          type: string
          description: 'Price

            Description:

            - Required'
          example: '2'
        price_tp:
          type: string
          nullable: true
          description: 'Take Profit Price

            Description:

            - If not provided or set to "0": The original take profit price will be
            cleared

            - If you do not want to clear it, pass the original take profit price
            returned by the interface'
          example: '1.5'
        price_sl:
          type: string
          nullable: true
          description: 'Stop Loss Price

            Description:

            - If not provided or set to "0": The original stop loss price will be
            cleared

            - If you do not want to clear it, pass the original stop loss price returned
            by the interface'
          example: '0.8'
    TradFiPositionUpdateRequest:
      type: object
      description: Modify position take profit/stop loss parameters
      properties:
        price_tp:
          type: string
          nullable: true
          description: 'Take Profit Price

            Description:

            - If not provided or set to "0": The original take profit price will be
            cleared

            - If you do not want to clear it, pass the original take profit price
            returned by the interface'
          example: '1'
        price_sl:
          type: string
          nullable: true
          description: 'Stop Loss Price

            Description:

            - If not provided or set to "0": The original stop loss price will be
            cleared

            - If you do not want to clear it, pass the original stop loss price returned
            by the interface'
          example: '1'
    TradFiClosePositionRequest:
      type: object
      description: Close position request parameters
      required:
      - close_type
      properties:
        close_type:
          type: integer
          description: 'Close Type

            Description:

            - 1: Partial Close (close_volume is required)

            - 2: Full Close (close_volume is not required)'
          enum:
          - 1
          - 2
          example: 1
        close_volume:
          type: string
          nullable: true
          description: 'Close Volume

            Description:

            - Required when close_type = 1

            - Ignored when close_type = 2'
          example: '1'
    TradFiSpotOrderRequest:
      type: object
      description: Place order request parameters
      required:
      - volume
      - symbol
      - side
      - price_type
      - trading_session
      - time_in_force
      properties:
        volume:
          type: string
          description: Order quantity
          example: '10'
        symbol:
          type: string
          description: Symbol
          example: AAPL
        side:
          type: integer
          description: Side (1=sell, 2=buy)
          enum:
          - 1
          - 2
          example: 2
        price_type:
          type: string
          description: Price type (market = market order, limit = limit order)
          enum:
          - market
          - limit
          example: limit
        trading_session:
          type: string
          description: 'Trading session.

            Limit orders support only All, while market orders support only Regular.'
          enum:
          - regular
          - all
          example: all
        time_in_force:
          type: string
          description: 'Time in force.

            - day: Day order.'
          enum:
          - day
          example: day
        price:
          type: string
          description: Order price, used for limit orders
          example: '200.12'
        client_order_id:
          type: string
          description: Client-defined order ID
          example: client-202607070001
    TradFiSpotOrderUpdateRequest:
      type: object
      description: Modify order request parameters
      required:
      - volume
      - price
      properties:
        volume:
          type: string
          description: Modified order quantity
          example: '8'
        price:
          type: string
          description: Modified order price
          example: '201.23'
    TradFiSpotClosePositionRequest:
      type: object
      description: Close position request parameters
      required:
      - symbol
      - close_type
      properties:
        symbol:
          type: string
          description: Symbol
          example: AAPL
        close_volume:
          type: string
          description: Close quantity; required for partial close
          example: '2'
        close_type:
          type: integer
          description: Close type (1=partial close, 2=close all)
          enum:
          - 1
          - 2
          example: 1
    TradFiSpotTransactionRequest:
      type: object
      description: Transfer request parameters
      required:
      - asset
      - change
      - type
      - ref_id
      properties:
        asset:
          type: string
          description: Asset, USDT only
          enum:
          - USDT
          example: USDT
        change:
          type: string
          description: Change amount
          example: '100'
        type:
          type: string
          description: Transaction type (deposit=deposit, withdraw=withdrawal)
          enum:
          - deposit
          - withdraw
          example: deposit
        ref_id:
          type: string
          description: Business idempotent ID
          example: transfer-202607070001
    DeliveryContract:
      type: object
      description: Futures contract details
      properties:
        name:
          type: string
          description: Futures contract
        underlying:
          type: string
          description: Underlying
        cycle:
          type: string
          description: Cycle type, e.g. WEEKLY, QUARTERLY
          enum:
          - WEEKLY
          - BI-WEEKLY
          - QUARTERLY
          - BI-QUARTERLY
        type:
          type: string
          description: 'Contract type: inverse - inverse contract, direct - direct
            contract'
          enum:
          - inverse
          - direct
        quanto_multiplier:
          type: string
          description: The contract multiplier indicates how many units of the underlying
            asset the face value of one contract represents.
        leverage_min:
          type: string
          description: Minimum leverage
        leverage_max:
          type: string
          description: Maximum leverage
        maintenance_rate:
          type: string
          description: The maintenance margin rate of the first tier of risk limit
            sheet
        mark_type:
          type: string
          description: Deprecated
          enum:
          - internal
          - index
        mark_price:
          type: string
          description: Current mark price
        index_price:
          type: string
          description: Current index price
        last_price:
          type: string
          description: Last trading price
        maker_fee_rate:
          type: string
          description: Maker fee rate, negative values indicate rebates
        taker_fee_rate:
          type: string
          description: Taker fee rate
        order_price_round:
          type: string
          description: Minimum order price increment
        mark_price_round:
          type: string
          description: Minimum mark price increment
        basis_rate:
          type: string
          description: Fair basis rate
        basis_value:
          type: string
          description: Fair basis value
        basis_impact_value:
          type: string
          description: Funding used for calculating impact bid, ask price
        settle_price:
          type: string
          description: Settle price
        settle_price_interval:
          type: integer
          description: Settle price update interval
        settle_price_duration:
          type: integer
          description: Settle price update duration in seconds
        expire_time:
          type: integer
          format: int64
          description: Contract expiry timestamp
        risk_limit_base:
          type: string
          description: Risk limit base
        risk_limit_step:
          type: string
          description: Step of adjusting risk limit
        risk_limit_max:
          type: string
          description: Maximum risk limit the contract allowed
        order_size_min:
          type: integer
          format: int64
          description: Minimum order quantity
        order_size_max:
          type: integer
          format: int64
          description: Maximum order quantity
        order_price_deviate:
          type: string
          description: "Maximum allowed deviation between order price and current\
            \ mark price. The order price `order_price` must satisfy the following\
            \ condition:\n\n    abs(order_price - mark_price) <= mark_price * order_price_deviate"
        ref_discount_rate:
          type: string
          description: Trading fee discount for referred users
        ref_rebate_rate:
          type: string
          description: Commission rate for referrers
        orderbook_id:
          type: integer
          format: int64
          description: Orderbook update ID
        trade_id:
          type: integer
          format: int64
          description: Current trade ID
        trade_size:
          type: integer
          format: int64
          description: Historical cumulative trading volume
        position_size:
          type: integer
          format: int64
          description: Current total long position size
        config_change_time:
          type: number
          format: double
          description: Last configuration update time
        in_delisting:
          type: boolean
          description: Contract is delisting
        orders_limit:
          type: integer
          description: Maximum number of pending orders
    DeliveryPosition:
      type: object
      description: Futures position details
      properties:
        user:
          type: integer
          format: int64
          description: User ID
          readOnly: true
        contract:
          type: string
          description: Futures contract
          readOnly: true
        size:
          type: integer
          format: int64
          description: Position size
          readOnly: true
        leverage:
          type: string
          description: Position leverage. 0 means cross margin; positive number means
            isolated margin
        risk_limit:
          type: string
          description: Position risk limit
        leverage_max:
          type: string
          description: Maximum leverage under current risk limit
          readOnly: true
        maintenance_rate:
          type: string
          description: The maintenance margin rate of the first tier of risk limit
            sheet
          readOnly: true
[...]
