# coding: utf-8

"""
    Gate API

    Welcome to Gate API APIv4 provides operations related to spot, margin, and contract trading, including public interfaces for querying market data and authenticated private interfaces for implementing API-based automated trading.  # noqa: E501

    Contact: support@mail.gate.com
    Generated by: https://openapi-generator.tech
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from gate_api.api_client import ApiClient
from gate_api.exceptions import (  # noqa: F401
    ApiTypeError,
    ApiValueError
)


class OTCApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def create_otc_quote(self, otc_quote_request, **kwargs):  # noqa: E501
        """Fiat and stablecoin quote  # noqa: E501

        Create fiat and stablecoin quotes, supporting both PAY and GET directions  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_otc_quote(otc_quote_request, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param OtcQuoteRequest otc_quote_request: (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: gate_api.OtcQuoteResponse
        :return: If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.create_otc_quote_with_http_info(otc_quote_request, **kwargs)  # noqa: E501

    def create_otc_quote_with_http_info(self, otc_quote_request, **kwargs):  # noqa: E501
        """Fiat and stablecoin quote  # noqa: E501

        Create fiat and stablecoin quotes, supporting both PAY and GET directions  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_otc_quote_with_http_info(otc_quote_request, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param OtcQuoteRequest otc_quote_request: (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: tuple(gate_api.OtcQuoteResponse, status_code(int), headers(HTTPHeaderDict))
        :return: If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'otc_quote_request'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for k, v in six.iteritems(local_var_params['kwargs']):
            if k not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_otc_quote" % k
                )
            local_var_params[k] = v
        del local_var_params['kwargs']
        # verify the required parameter 'otc_quote_request' is set
        if self.api_client.client_side_validation and ('otc_quote_request' not in local_var_params or  # noqa: E501
                                                        local_var_params['otc_quote_request'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `otc_quote_request` when calling `create_otc_quote`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'otc_quote_request' in local_var_params:
            body_params = local_var_params['otc_quote_request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiv4']  # noqa: E501

        return self.api_client.call_api(
            '/otc/quote', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='OtcQuoteResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_otc_order(self, otc_order_request, **kwargs):  # noqa: E501
        """Create fiat order  # noqa: E501

        Create a fiat order, supporting BUY for on-ramp and SELL for off-ramp  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_otc_order(otc_order_request, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param OtcOrderRequest otc_order_request: (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: gate_api.OtcActionResponse
        :return: If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.create_otc_order_with_http_info(otc_order_request, **kwargs)  # noqa: E501

    def create_otc_order_with_http_info(self, otc_order_request, **kwargs):  # noqa: E501
        """Create fiat order  # noqa: E501

        Create a fiat order, supporting BUY for on-ramp and SELL for off-ramp  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_otc_order_with_http_info(otc_order_request, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param OtcOrderRequest otc_order_request: (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: tuple(gate_api.OtcActionResponse, status_code(int), headers(HTTPHeaderDict))
        :return: If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'otc_order_request'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for k, v in six.iteritems(local_var_params['kwargs']):
            if k not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_otc_order" % k
                )
            local_var_params[k] = v
        del local_var_params['kwargs']
        # verify the required parameter 'otc_order_request' is set
        if self.api_client.client_side_validation and ('otc_order_request' not in local_var_params or  # noqa: E501
                                                        local_var_params['otc_order_request'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `otc_order_request` when calling `create_otc_order`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'otc_order_request' in local_var_params:
            body_params = local_var_params['otc_order_request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiv4']  # noqa: E501

        return self.api_client.call_api(
            '/otc/order/create', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='OtcActionResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_stable_coin_order(self, otc_stable_coin_order_request, **kwargs):  # noqa: E501
        """Create stablecoin order  # noqa: E501

        Create a stablecoin order. All request body fields except `promotion_code` are required.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_stable_coin_order(otc_stable_coin_order_request, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param OtcStableCoinOrderRequest otc_stable_coin_order_request: (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: gate_api.OtcStableCoinOrderCreateResponse
        :return: If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.create_stable_coin_order_with_http_info(otc_stable_coin_order_request, **kwargs)  # noqa: E501

    def create_stable_coin_order_with_http_info(self, otc_stable_coin_order_request, **kwargs):  # noqa: E501
        """Create stablecoin order  # noqa: E501

        Create a stablecoin order. All request body fields except `promotion_code` are required.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_stable_coin_order_with_http_info(otc_stable_coin_order_request, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param OtcStableCoinOrderRequest otc_stable_coin_order_request: (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: tuple(gate_api.OtcStableCoinOrderCreateResponse, status_code(int), headers(HTTPHeaderDict))
        :return: If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'otc_stable_coin_order_request'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for k, v in six.iteritems(local_var_params['kwargs']):
            if k not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_stable_coin_order" % k
                )
            local_var_params[k] = v
        del local_var_params['kwargs']
        # verify the required parameter 'otc_stable_coin_order_request' is set
        if self.api_client.client_side_validation and ('otc_stable_coin_order_request' not in local_var_params or  # noqa: E501
                                                        local_var_params['otc_stable_coin_order_request'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `otc_stable_coin_order_request` when calling `create_stable_coin_order`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'otc_stable_coin_order_request' in local_var_params:
            body_params = local_var_params['otc_stable_coin_order_request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiv4']  # noqa: E501

        return self.api_client.call_api(
            '/otc/stable_coin/order/create', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='OtcStableCoinOrderCreateResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_bank_list_inner_path(self, **kwargs):  # noqa: E501
        """Get user bank card list  # noqa: E501

        List the user's bank cards for selecting a card when placing an order. **Default card**: use the `is_default` field in each list item (`1` indicates the default). The deprecated standalone default-bank-card endpoint is no longer required.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_bank_list_inner_path(async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: gate_api.OtcBankListResponse
        :return: If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.get_bank_list_inner_path_with_http_info(**kwargs)  # noqa: E501

    def get_bank_list_inner_path_with_http_info(self, **kwargs):  # noqa: E501
        """Get user bank card list  # noqa: E501

        List the user's bank cards for selecting a card when placing an order. **Default card**: use the `is_default` field in each list item (`1` indicates the default). The deprecated standalone default-bank-card endpoint is no longer required.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_bank_list_inner_path_with_http_info(async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: tuple(gate_api.OtcBankListResponse, status_code(int), headers(HTTPHeaderDict))
        :return: If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for k, v in six.iteritems(local_var_params['kwargs']):
            if k not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_bank_list_inner_path" % k
                )
            local_var_params[k] = v
        del local_var_params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiv4']  # noqa: E501

        return self.api_client.call_api(
            '/otc/bank/list', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='OtcBankListResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_otc_bank(self, bank_account_name, bank_name, bank_country, bank_address, iban, swift, documentation_file, **kwargs):  # noqa: E501
        """Create bank card  # noqa: E501

        Bind a bank card. Under the Global entity, an account with a non-matching name may enter manual review (`status` pending) and require subsequent supplementary materials. Corresponding Inner: `POST /bank/create`. Fields and protocol are subject to the production form/gateway; in some environments `bank_account_name` is passed Base64-encoded, see the integration notes for details.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_otc_bank(bank_account_name, bank_name, bank_country, bank_address, iban, swift, documentation_file, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param str bank_account_name: (required)
        :param str bank_name: (required)
        :param str bank_country: (required)
        :param str bank_address: (required)
        :param str iban: (required)
        :param str swift: (required)
        :param str documentation_file: Account opening proof file content (multipart file field, binary/Base64; jpg/jpeg/png/pdf, etc.; maximum 10 MB per file, subject to the live environment) (required)
        :param str remittance_line_number:
        :param str agent_bank_name:
        :param str agent_bank_swift:
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: gate_api.OtcBankCreateResponse
        :return: If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.create_otc_bank_with_http_info(bank_account_name, bank_name, bank_country, bank_address, iban, swift, documentation_file, **kwargs)  # noqa: E501

    def create_otc_bank_with_http_info(self, bank_account_name, bank_name, bank_country, bank_address, iban, swift, documentation_file, **kwargs):  # noqa: E501
        """Create bank card  # noqa: E501

        Bind a bank card. Under the Global entity, an account with a non-matching name may enter manual review (`status` pending) and require subsequent supplementary materials. Corresponding Inner: `POST /bank/create`. Fields and protocol are subject to the production form/gateway; in some environments `bank_account_name` is passed Base64-encoded, see the integration notes for details.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_otc_bank_with_http_info(bank_account_name, bank_name, bank_country, bank_address, iban, swift, documentation_file, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param str bank_account_name: (required)
        :param str bank_name: (required)
        :param str bank_country: (required)
        :param str bank_address: (required)
        :param str iban: (required)
        :param str swift: (required)
        :param str documentation_file: Account opening proof file content (multipart file field, binary/Base64; jpg/jpeg/png/pdf, etc.; maximum 10 MB per file, subject to the live environment) (required)
        :param str remittance_line_number:
        :param str agent_bank_name:
        :param str agent_bank_swift:
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: tuple(gate_api.OtcBankCreateResponse, status_code(int), headers(HTTPHeaderDict))
        :return: If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'bank_account_name',
            'bank_name',
            'bank_country',
            'bank_address',
            'iban',
            'swift',
            'documentation_file',
            'remittance_line_number',
            'agent_bank_name',
            'agent_bank_swift'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for k, v in six.iteritems(local_var_params['kwargs']):
            if k not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_otc_bank" % k
                )
            local_var_params[k] = v
        del local_var_params['kwargs']
        # verify the required parameter 'bank_account_name' is set
        if self.api_client.client_side_validation and ('bank_account_name' not in local_var_params or  # noqa: E501
                                                        local_var_params['bank_account_name'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `bank_account_name` when calling `create_otc_bank`")  # noqa: E501
        # verify the required parameter 'bank_name' is set
        if self.api_client.client_side_validation and ('bank_name' not in local_var_params or  # noqa: E501
                                                        local_var_params['bank_name'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `bank_name` when calling `create_otc_bank`")  # noqa: E501
        # verify the required parameter 'bank_country' is set
        if self.api_client.client_side_validation and ('bank_country' not in local_var_params or  # noqa: E501
                                                        local_var_params['bank_country'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `bank_country` when calling `create_otc_bank`")  # noqa: E501
        # verify the required parameter 'bank_address' is set
        if self.api_client.client_side_validation and ('bank_address' not in local_var_params or  # noqa: E501
                                                        local_var_params['bank_address'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `bank_address` when calling `create_otc_bank`")  # noqa: E501
        # verify the required parameter 'iban' is set
        if self.api_client.client_side_validation and ('iban' not in local_var_params or  # noqa: E501
                                                        local_var_params['iban'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `iban` when calling `create_otc_bank`")  # noqa: E501
        # verify the required parameter 'swift' is set
        if self.api_client.client_side_validation and ('swift' not in local_var_params or  # noqa: E501
                                                        local_var_params['swift'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `swift` when calling `create_otc_bank`")  # noqa: E501
        # verify the required parameter 'documentation_file' is set
        if self.api_client.client_side_validation and ('documentation_file' not in local_var_params or  # noqa: E501
                                                        local_var_params['documentation_file'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `documentation_file` when calling `create_otc_bank`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'bank_account_name' in local_var_params:
            form_params.append(('bank_account_name', local_var_params['bank_account_name']))  # noqa: E501
        if 'bank_name' in local_var_params:
            form_params.append(('bank_name', local_var_params['bank_name']))  # noqa: E501
        if 'bank_country' in local_var_params:
            form_params.append(('bank_country', local_var_params['bank_country']))  # noqa: E501
        if 'bank_address' in local_var_params:
            form_params.append(('bank_address', local_var_params['bank_address']))  # noqa: E501
        if 'iban' in local_var_params:
            form_params.append(('iban', local_var_params['iban']))  # noqa: E501
        if 'swift' in local_var_params:
            form_params.append(('swift', local_var_params['swift']))  # noqa: E501
        if 'remittance_line_number' in local_var_params:
            form_params.append(('remittance_line_number', local_var_params['remittance_line_number']))  # noqa: E501
        if 'agent_bank_name' in local_var_params:
            form_params.append(('agent_bank_name', local_var_params['agent_bank_name']))  # noqa: E501
        if 'agent_bank_swift' in local_var_params:
            form_params.append(('agent_bank_swift', local_var_params['agent_bank_swift']))  # noqa: E501
        if 'documentation_file' in local_var_params:
            form_params.append(('documentation_file', local_var_params['documentation_file']))  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiv4']  # noqa: E501

        return self.api_client.call_api(
            '/otc/bank/create', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='OtcBankCreateResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_otc_bank(self, otc_bank_id_request, **kwargs):  # noqa: E501
        """Delete bank card  # noqa: E501

        Delete the specified bank card. Corresponds to Inner: `POST /bank/delete`.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_otc_bank(otc_bank_id_request, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param OtcBankIdRequest otc_bank_id_request: (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: gate_api.OtcActionResponse
        :return: If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.delete_otc_bank_with_http_info(otc_bank_id_request, **kwargs)  # noqa: E501

    def delete_otc_bank_with_http_info(self, otc_bank_id_request, **kwargs):  # noqa: E501
        """Delete bank card  # noqa: E501

        Delete the specified bank card. Corresponds to Inner: `POST /bank/delete`.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_otc_bank_with_http_info(otc_bank_id_request, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param OtcBankIdRequest otc_bank_id_request: (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: tuple(gate_api.OtcActionResponse, status_code(int), headers(HTTPHeaderDict))
        :return: If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'otc_bank_id_request'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for k, v in six.iteritems(local_var_params['kwargs']):
            if k not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_otc_bank" % k
                )
            local_var_params[k] = v
        del local_var_params['kwargs']
        # verify the required parameter 'otc_bank_id_request' is set
        if self.api_client.client_side_validation and ('otc_bank_id_request' not in local_var_params or  # noqa: E501
                                                        local_var_params['otc_bank_id_request'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `otc_bank_id_request` when calling `delete_otc_bank`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'otc_bank_id_request' in local_var_params:
            body_params = local_var_params['otc_bank_id_request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiv4']  # noqa: E501

        return self.api_client.call_api(
            '/otc/bank/delete', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='OtcActionResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def set_default_otc_bank(self, otc_bank_id_request, **kwargs):  # noqa: E501
        """Set default bank card  # noqa: E501

        Set the specified bank card as default. Corresponds to Inner: `POST /bank/set_default`.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.set_default_otc_bank(otc_bank_id_request, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param OtcBankIdRequest otc_bank_id_request: (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: gate_api.OtcActionResponse
        :return: If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.set_default_otc_bank_with_http_info(otc_bank_id_request, **kwargs)  # noqa: E501

    def set_default_otc_bank_with_http_info(self, otc_bank_id_request, **kwargs):  # noqa: E501
        """Set default bank card  # noqa: E501

        Set the specified bank card as default. Corresponds to Inner: `POST /bank/set_default`.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.set_default_otc_bank_with_http_info(otc_bank_id_request, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param OtcBankIdRequest otc_bank_id_request: (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: tuple(gate_api.OtcActionResponse, status_code(int), headers(HTTPHeaderDict))
        :return: If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'otc_bank_id_request'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for k, v in six.iteritems(local_var_params['kwargs']):
            if k not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method set_default_otc_bank" % k
                )
            local_var_params[k] = v
        del local_var_params['kwargs']
        # verify the required parameter 'otc_bank_id_request' is set
        if self.api_client.client_side_validation and ('otc_bank_id_request' not in local_var_params or  # noqa: E501
                                                        local_var_params['otc_bank_id_request'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `otc_bank_id_request` when calling `set_default_otc_bank`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'otc_bank_id_request' in local_var_params:
            body_params = local_var_params['otc_bank_id_request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiv4']  # noqa: E501

        return self.api_client.call_api(
            '/otc/bank/set_default', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='OtcActionResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_otc_bank_supplement_checklist(self, bank_id, **kwargs):  # noqa: E501
        """Query the checklist of materials to supplement for a bank card  # noqa: E501

        **①** `bank_id` must be specified. After verifying that the card belongs to the current user and its status allows supplementary documents, the endpoint returns the required items based on the user's **approved advanced verification type** (personal/enterprise); each item's `description` states the submission requirements. Corresponding Inner endpoint: `GET /bank/bank_supplement_checklist`.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_otc_bank_supplement_checklist(bank_id, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param str bank_id: Bank card ID (otc_rds / the id returned by the list endpoint). (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: gate_api.OtcBankSupplementChecklistResponse
        :return: If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.get_otc_bank_supplement_checklist_with_http_info(bank_id, **kwargs)  # noqa: E501

    def get_otc_bank_supplement_checklist_with_http_info(self, bank_id, **kwargs):  # noqa: E501
        """Query the checklist of materials to supplement for a bank card  # noqa: E501

        **①** `bank_id` must be specified. After verifying that the card belongs to the current user and its status allows supplementary documents, the endpoint returns the required items based on the user's **approved advanced verification type** (personal/enterprise); each item's `description` states the submission requirements. Corresponding Inner endpoint: `GET /bank/bank_supplement_checklist`.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_otc_bank_supplement_checklist_with_http_info(bank_id, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param str bank_id: Bank card ID (otc_rds / the id returned by the list endpoint). (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: tuple(gate_api.OtcBankSupplementChecklistResponse, status_code(int), headers(HTTPHeaderDict))
        :return: If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'bank_id'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for k, v in six.iteritems(local_var_params['kwargs']):
            if k not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_otc_bank_supplement_checklist" % k
                )
            local_var_params[k] = v
        del local_var_params['kwargs']
        # verify the required parameter 'bank_id' is set
        if self.api_client.client_side_validation and ('bank_id' not in local_var_params or  # noqa: E501
                                                        local_var_params['bank_id'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `bank_id` when calling `get_otc_bank_supplement_checklist`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'bank_id' in local_var_params and local_var_params['bank_id'] is not None:  # noqa: E501
            query_params.append(('bank_id', local_var_params['bank_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiv4']  # noqa: E501

        return self.api_client.call_api(
            '/otc/bank/bank_supplement_checklist', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='OtcBankSupplementChecklistResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def submit_otc_bank_personal_supplement(self, bank_id, id_document_front, id_document_back, address_proof, **kwargs):  # noqa: E501
        """Submit Bank Card Supplement Materials (Personal)  # noqa: E501

        **Personal professional verification (type=1)** users submit non-same-person/supplementary materials. Must match `user_type=personal` returned by `GET /otc/bank/bank_supplement_checklist?bank_id=`, otherwise the request is rejected. **multipart/form-data** is recommended: each material item is a separate file field, with field names matching the checklist `code` (`id_document_front`, `id_document_back`, `address_proof`).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.submit_otc_bank_personal_supplement(bank_id, id_document_front, id_document_back, address_proof, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param str bank_id: (required)
        :param str id_document_front: ID document front-side file content (multipart file field, binary/Base64) (required)
        :param str id_document_back: ID document back-side file content (multipart file field, binary/Base64) (required)
        :param str address_proof: Proof-of-address file content (multipart file field, binary/Base64) (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: gate_api.OtcActionResponse
        :return: If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.submit_otc_bank_personal_supplement_with_http_info(bank_id, id_document_front, id_document_back, address_proof, **kwargs)  # noqa: E501

    def submit_otc_bank_personal_supplement_with_http_info(self, bank_id, id_document_front, id_document_back, address_proof, **kwargs):  # noqa: E501
        """Submit Bank Card Supplement Materials (Personal)  # noqa: E501

        **Personal professional verification (type=1)** users submit non-same-person/supplementary materials. Must match `user_type=personal` returned by `GET /otc/bank/bank_supplement_checklist?bank_id=`, otherwise the request is rejected. **multipart/form-data** is recommended: each material item is a separate file field, with field names matching the checklist `code` (`id_document_front`, `id_document_back`, `address_proof`).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.submit_otc_bank_personal_supplement_with_http_info(bank_id, id_document_front, id_document_back, address_proof, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param str bank_id: (required)
        :param str id_document_front: ID document front-side file content (multipart file field, binary/Base64) (required)
        :param str id_document_back: ID document back-side file content (multipart file field, binary/Base64) (required)
        :param str address_proof: Proof-of-address file content (multipart file field, binary/Base64) (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: tuple(gate_api.OtcActionResponse, status_code(int), headers(HTTPHeaderDict))
        :return: If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'bank_id',
            'id_document_front',
            'id_document_back',
            'address_proof'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for k, v in six.iteritems(local_var_params['kwargs']):
            if k not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method submit_otc_bank_personal_supplement" % k
                )
            local_var_params[k] = v
        del local_var_params['kwargs']
        # verify the required parameter 'bank_id' is set
        if self.api_client.client_side_validation and ('bank_id' not in local_var_params or  # noqa: E501
                                                        local_var_params['bank_id'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `bank_id` when calling `submit_otc_bank_personal_supplement`")  # noqa: E501
        # verify the required parameter 'id_document_front' is set
        if self.api_client.client_side_validation and ('id_document_front' not in local_var_params or  # noqa: E501
                                                        local_var_params['id_document_front'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `id_document_front` when calling `submit_otc_bank_personal_supplement`")  # noqa: E501
        # verify the required parameter 'id_document_back' is set
        if self.api_client.client_side_validation and ('id_document_back' not in local_var_params or  # noqa: E501
                                                        local_var_params['id_document_back'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `id_document_back` when calling `submit_otc_bank_personal_supplement`")  # noqa: E501
        # verify the required parameter 'address_proof' is set
        if self.api_client.client_side_validation and ('address_proof' not in local_var_params or  # noqa: E501
                                                        local_var_params['address_proof'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `address_proof` when calling `submit_otc_bank_personal_supplement`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'bank_id' in local_var_params:
            form_params.append(('bank_id', local_var_params['bank_id']))  # noqa: E501
        if 'id_document_front' in local_var_params:
            form_params.append(('id_document_front', local_var_params['id_document_front']))  # noqa: E501
        if 'id_document_back' in local_var_params:
            form_params.append(('id_document_back', local_var_params['id_document_back']))  # noqa: E501
        if 'address_proof' in local_var_params:
            form_params.append(('address_proof', local_var_params['address_proof']))  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiv4']  # noqa: E501

        return self.api_client.call_api(
            '/otc/bank/personal/bank_supplement', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='OtcActionResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def submit_otc_bank_enterprise_supplement(self, bank_id, certificate, share_holders, passport, share_holding_structure, **kwargs):  # noqa: E501
        """Submit Bank Card Supplement Materials (Enterprise)  # noqa: E501

        **Enterprise professional verification (type=2)** users submit supplementary materials. Must match `user_type=enterprise` returned by the checklist. **multipart** file field names: `certificate`, `share_holders`, `passport`, `share_holding_structure`.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.submit_otc_bank_enterprise_supplement(bank_id, certificate, share_holders, passport, share_holding_structure, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param str bank_id: (required)
        :param str certificate: Business license / registration certificate file content (multipart file field, binary/Base64) (required)
        :param str share_holders: Register of shareholders file content (multipart file field, binary/Base64) (required)
        :param str passport: Legal representative / shareholder passport file content (multipart file field, binary/Base64) (required)
        :param str share_holding_structure: Ownership structure chart file content (multipart file field, binary/Base64) (required)
        :param str uid:
        :param str funds_statement: Proof-of-funds file content (multipart file field, binary/Base64, optional)
        :param str additional: Other supplementary material file content (multipart file field, binary/Base64, optional)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: gate_api.OtcActionResponse
        :return: If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.submit_otc_bank_enterprise_supplement_with_http_info(bank_id, certificate, share_holders, passport, share_holding_structure, **kwargs)  # noqa: E501

    def submit_otc_bank_enterprise_supplement_with_http_info(self, bank_id, certificate, share_holders, passport, share_holding_structure, **kwargs):  # noqa: E501
        """Submit Bank Card Supplement Materials (Enterprise)  # noqa: E501

        **Enterprise professional verification (type=2)** users submit supplementary materials. Must match `user_type=enterprise` returned by the checklist. **multipart** file field names: `certificate`, `share_holders`, `passport`, `share_holding_structure`.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.submit_otc_bank_enterprise_supplement_with_http_info(bank_id, certificate, share_holders, passport, share_holding_structure, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param str bank_id: (required)
        :param str certificate: Business license / registration certificate file content (multipart file field, binary/Base64) (required)
        :param str share_holders: Register of shareholders file content (multipart file field, binary/Base64) (required)
        :param str passport: Legal representative / shareholder passport file content (multipart file field, binary/Base64) (required)
        :param str share_holding_structure: Ownership structure chart file content (multipart file field, binary/Base64) (required)
        :param str uid:
        :param str funds_statement: Proof-of-funds file content (multipart file field, binary/Base64, optional)
        :param str additional: Other supplementary material file content (multipart file field, binary/Base64, optional)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: tuple(gate_api.OtcActionResponse, status_code(int), headers(HTTPHeaderDict))
        :return: If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'bank_id',
            'certificate',
            'share_holders',
            'passport',
            'share_holding_structure',
            'uid',
            'funds_statement',
            'additional'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for k, v in six.iteritems(local_var_params['kwargs']):
            if k not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method submit_otc_bank_enterprise_supplement" % k
                )
            local_var_params[k] = v
        del local_var_params['kwargs']
        # verify the required parameter 'bank_id' is set
        if self.api_client.client_side_validation and ('bank_id' not in local_var_params or  # noqa: E501
                                                        local_var_params['bank_id'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `bank_id` when calling `submit_otc_bank_enterprise_supplement`")  # noqa: E501
        # verify the required parameter 'certificate' is set
        if self.api_client.client_side_validation and ('certificate' not in local_var_params or  # noqa: E501
                                                        local_var_params['certificate'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `certificate` when calling `submit_otc_bank_enterprise_supplement`")  # noqa: E501
        # verify the required parameter 'share_holders' is set
        if self.api_client.client_side_validation and ('share_holders' not in local_var_params or  # noqa: E501
                                                        local_var_params['share_holders'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `share_holders` when calling `submit_otc_bank_enterprise_supplement`")  # noqa: E501
        # verify the required parameter 'passport' is set
        if self.api_client.client_side_validation and ('passport' not in local_var_params or  # noqa: E501
                                                        local_var_params['passport'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `passport` when calling `submit_otc_bank_enterprise_supplement`")  # noqa: E501
        # verify the required parameter 'share_holding_structure' is set
        if self.api_client.client_side_validation and ('share_holding_structure' not in local_var_params or  # noqa: E501
                                                        local_var_params['share_holding_structure'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `share_holding_structure` when calling `submit_otc_bank_enterprise_supplement`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'uid' in local_var_params:
            form_params.append(('uid', local_var_params['uid']))  # noqa: E501
        if 'bank_id' in local_var_params:
            form_params.append(('bank_id', local_var_params['bank_id']))  # noqa: E501
        if 'certificate' in local_var_params:
            form_params.append(('certificate', local_var_params['certificate']))  # noqa: E501
        if 'share_holders' in local_var_params:
            form_params.append(('share_holders', local_var_params['share_holders']))  # noqa: E501
        if 'passport' in local_var_params:
            form_params.append(('passport', local_var_params['passport']))  # noqa: E501
        if 'share_holding_structure' in local_var_params:
            form_params.append(('share_holding_structure', local_var_params['share_holding_structure']))  # noqa: E501
        if 'funds_statement' in local_var_params:
            form_params.append(('funds_statement', local_var_params['funds_statement']))  # noqa: E501
        if 'additional' in local_var_params:
            form_params.append(('additional', local_var_params['additional']))  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiv4']  # noqa: E501

        return self.api_client.call_api(
            '/otc/bank/enterprise/bank_supplement', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='OtcActionResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def mark_otc_order_paid(self, otc_mark_order_paid_request, **kwargs):  # noqa: E501
        """Mark fiat order as paid (deposit confirmation)  # noqa: E501

        Mark a fiat BUY order as paid (deposit confirmation). **A user payment receipt must be uploaded**: `payment_receipt_file_key` is required; supported formats are jpg/jpeg/png/pdf, with a maximum size of 10 MB per file (validated jointly by the service and gateway). The compatibility field name `payment_receipt` is subject to the gateway/live environment. The persisted field is `otc_trade_record.payment_receipt_file_key`. The Pay Inner path is `POST .../pay/order_set_paid` (commonly associated by `client_order_id`); the Inner path corresponding to this OpenAPI endpoint, `POST /order/paid`, still primarily uses `order_id`. If the gateway standardizes on the merchant order ID, follow the gateway documentation.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.mark_otc_order_paid(otc_mark_order_paid_request, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param OtcMarkOrderPaidRequest otc_mark_order_paid_request: (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: gate_api.OtcActionResponse
        :return: If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.mark_otc_order_paid_with_http_info(otc_mark_order_paid_request, **kwargs)  # noqa: E501

    def mark_otc_order_paid_with_http_info(self, otc_mark_order_paid_request, **kwargs):  # noqa: E501
        """Mark fiat order as paid (deposit confirmation)  # noqa: E501

        Mark a fiat BUY order as paid (deposit confirmation). **A user payment receipt must be uploaded**: `payment_receipt_file_key` is required; supported formats are jpg/jpeg/png/pdf, with a maximum size of 10 MB per file (validated jointly by the service and gateway). The compatibility field name `payment_receipt` is subject to the gateway/live environment. The persisted field is `otc_trade_record.payment_receipt_file_key`. The Pay Inner path is `POST .../pay/order_set_paid` (commonly associated by `client_order_id`); the Inner path corresponding to this OpenAPI endpoint, `POST /order/paid`, still primarily uses `order_id`. If the gateway standardizes on the merchant order ID, follow the gateway documentation.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.mark_otc_order_paid_with_http_info(otc_mark_order_paid_request, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param OtcMarkOrderPaidRequest otc_mark_order_paid_request: (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: tuple(gate_api.OtcActionResponse, status_code(int), headers(HTTPHeaderDict))
        :return: If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'otc_mark_order_paid_request'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for k, v in six.iteritems(local_var_params['kwargs']):
            if k not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method mark_otc_order_paid" % k
                )
            local_var_params[k] = v
        del local_var_params['kwargs']
        # verify the required parameter 'otc_mark_order_paid_request' is set
        if self.api_client.client_side_validation and ('otc_mark_order_paid_request' not in local_var_params or  # noqa: E501
                                                        local_var_params['otc_mark_order_paid_request'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `otc_mark_order_paid_request` when calling `mark_otc_order_paid`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'otc_mark_order_paid_request' in local_var_params:
            body_params = local_var_params['otc_mark_order_paid_request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiv4']  # noqa: E501

        return self.api_client.call_api(
            '/otc/order/paid', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='OtcActionResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def cancel_otc_order(self, order_id, **kwargs):  # noqa: E501
        """Fiat order cancellation  # noqa: E501

        Cancel fiat order  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.cancel_otc_order(order_id, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param str order_id: Order ID (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: gate_api.OtcActionResponse
        :return: If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.cancel_otc_order_with_http_info(order_id, **kwargs)  # noqa: E501

    def cancel_otc_order_with_http_info(self, order_id, **kwargs):  # noqa: E501
        """Fiat order cancellation  # noqa: E501

        Cancel fiat order  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.cancel_otc_order_with_http_info(order_id, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param str order_id: Order ID (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: tuple(gate_api.OtcActionResponse, status_code(int), headers(HTTPHeaderDict))
        :return: If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'order_id'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for k, v in six.iteritems(local_var_params['kwargs']):
            if k not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method cancel_otc_order" % k
                )
            local_var_params[k] = v
        del local_var_params['kwargs']
        # verify the required parameter 'order_id' is set
        if self.api_client.client_side_validation and ('order_id' not in local_var_params or  # noqa: E501
                                                        local_var_params['order_id'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `order_id` when calling `cancel_otc_order`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'order_id' in local_var_params and local_var_params['order_id'] is not None:  # noqa: E501
            query_params.append(('order_id', local_var_params['order_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiv4']  # noqa: E501

        return self.api_client.call_api(
            '/otc/order/cancel', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='OtcActionResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_otc_orders(self, **kwargs):  # noqa: E501
        """Fiat order list  # noqa: E501

        Query the fiat order list with filters such as type, currency, time range, and status  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_otc_orders(async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param str type: BUY for on-ramp, SELL for off-ramp
        :param str fiat_currency: Fiat currency
        :param str crypto_currency: Digital currency
        :param str start_time: starttime   for example : 2025-09-09
        :param str end_time: endtime  for example :2025-09-09
        :param str status: DONE: completed CANCEL: canceled PROCESSING: in progress DISBURSED: disbursed
        :param str pn: Page number
        :param str ps: Number of items per page
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: gate_api.OtcOrderListResponse
        :return: If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.list_otc_orders_with_http_info(**kwargs)  # noqa: E501

    def list_otc_orders_with_http_info(self, **kwargs):  # noqa: E501
        """Fiat order list  # noqa: E501

        Query the fiat order list with filters such as type, currency, time range, and status  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_otc_orders_with_http_info(async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param str type: BUY for on-ramp, SELL for off-ramp
        :param str fiat_currency: Fiat currency
        :param str crypto_currency: Digital currency
        :param str start_time: starttime   for example : 2025-09-09
        :param str end_time: endtime  for example :2025-09-09
        :param str status: DONE: completed CANCEL: canceled PROCESSING: in progress DISBURSED: disbursed
        :param str pn: Page number
        :param str ps: Number of items per page
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: tuple(gate_api.OtcOrderListResponse, status_code(int), headers(HTTPHeaderDict))
        :return: If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'type',
            'fiat_currency',
            'crypto_currency',
            'start_time',
            'end_time',
            'status',
            'pn',
            'ps'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for k, v in six.iteritems(local_var_params['kwargs']):
            if k not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_otc_orders" % k
                )
            local_var_params[k] = v
        del local_var_params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'type' in local_var_params and local_var_params['type'] is not None:  # noqa: E501
            query_params.append(('type', local_var_params['type']))  # noqa: E501
        if 'fiat_currency' in local_var_params and local_var_params['fiat_currency'] is not None:  # noqa: E501
            query_params.append(('fiat_currency', local_var_params['fiat_currency']))  # noqa: E501
        if 'crypto_currency' in local_var_params and local_var_params['crypto_currency'] is not None:  # noqa: E501
            query_params.append(('crypto_currency', local_var_params['crypto_currency']))  # noqa: E501
        if 'start_time' in local_var_params and local_var_params['start_time'] is not None:  # noqa: E501
            query_params.append(('start_time', local_var_params['start_time']))  # noqa: E501
        if 'end_time' in local_var_params and local_var_params['end_time'] is not None:  # noqa: E501
            query_params.append(('end_time', local_var_params['end_time']))  # noqa: E501
        if 'status' in local_var_params and local_var_params['status'] is not None:  # noqa: E501
            query_params.append(('status', local_var_params['status']))  # noqa: E501
        if 'pn' in local_var_params and local_var_params['pn'] is not None:  # noqa: E501
            query_params.append(('pn', local_var_params['pn']))  # noqa: E501
        if 'ps' in local_var_params and local_var_params['ps'] is not None:  # noqa: E501
            query_params.append(('ps', local_var_params['ps']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiv4']  # noqa: E501

        return self.api_client.call_api(
            '/otc/order/list', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='OtcOrderListResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_stable_coin_orders(self, **kwargs):  # noqa: E501
        """Stablecoin order list  # noqa: E501

        Query stablecoin order list with filtering by currency, time range, status, etc.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_stable_coin_orders(async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param str page_size: Number of records per page
        :param str page_number: Page number
        :param str coin_name: ordercurrency
        :param str start_time: Start Time
        :param str end_time: End time
        :param str status: Status: PROCESSING: in progress / DONE：completed / FAILED: failed
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: gate_api.OtcStableCoinOrderListResponse
        :return: If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.list_stable_coin_orders_with_http_info(**kwargs)  # noqa: E501

    def list_stable_coin_orders_with_http_info(self, **kwargs):  # noqa: E501
        """Stablecoin order list  # noqa: E501

        Query stablecoin order list with filtering by currency, time range, status, etc.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_stable_coin_orders_with_http_info(async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param str page_size: Number of records per page
        :param str page_number: Page number
        :param str coin_name: ordercurrency
        :param str start_time: Start Time
        :param str end_time: End time
        :param str status: Status: PROCESSING: in progress / DONE：completed / FAILED: failed
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: tuple(gate_api.OtcStableCoinOrderListResponse, status_code(int), headers(HTTPHeaderDict))
        :return: If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'page_size',
            'page_number',
            'coin_name',
            'start_time',
            'end_time',
            'status'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for k, v in six.iteritems(local_var_params['kwargs']):
            if k not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_stable_coin_orders" % k
                )
            local_var_params[k] = v
        del local_var_params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'page_size' in local_var_params and local_var_params['page_size'] is not None:  # noqa: E501
            query_params.append(('page_size', local_var_params['page_size']))  # noqa: E501
        if 'page_number' in local_var_params and local_var_params['page_number'] is not None:  # noqa: E501
            query_params.append(('page_number', local_var_params['page_number']))  # noqa: E501
        if 'coin_name' in local_var_params and local_var_params['coin_name'] is not None:  # noqa: E501
            query_params.append(('coin_name', local_var_params['coin_name']))  # noqa: E501
        if 'start_time' in local_var_params and local_var_params['start_time'] is not None:  # noqa: E501
            query_params.append(('start_time', local_var_params['start_time']))  # noqa: E501
        if 'end_time' in local_var_params and local_var_params['end_time'] is not None:  # noqa: E501
            query_params.append(('end_time', local_var_params['end_time']))  # noqa: E501
        if 'status' in local_var_params and local_var_params['status'] is not None:  # noqa: E501
            query_params.append(('status', local_var_params['status']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiv4']  # noqa: E501

        return self.api_client.call_api(
            '/otc/stable_coin/order/list', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='OtcStableCoinOrderListResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_otc_order_detail(self, order_id, **kwargs):  # noqa: E501
        """Fiat order details  # noqa: E501

        Query fiat order details  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_otc_order_detail(order_id, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param str order_id: Order ID (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: gate_api.OtcOrderDetailResponse
        :return: If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.get_otc_order_detail_with_http_info(order_id, **kwargs)  # noqa: E501

    def get_otc_order_detail_with_http_info(self, order_id, **kwargs):  # noqa: E501
        """Fiat order details  # noqa: E501

        Query fiat order details  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_otc_order_detail_with_http_info(order_id, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param str order_id: Order ID (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: tuple(gate_api.OtcOrderDetailResponse, status_code(int), headers(HTTPHeaderDict))
        :return: If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'order_id'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for k, v in six.iteritems(local_var_params['kwargs']):
            if k not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_otc_order_detail" % k
                )
            local_var_params[k] = v
        del local_var_params['kwargs']
        # verify the required parameter 'order_id' is set
        if self.api_client.client_side_validation and ('order_id' not in local_var_params or  # noqa: E501
                                                        local_var_params['order_id'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `order_id` when calling `get_otc_order_detail`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'order_id' in local_var_params and local_var_params['order_id'] is not None:  # noqa: E501
            query_params.append(('order_id', local_var_params['order_id']))  # noqa: E501

        header_params = {}

[...]
