# coding: utf-8

"""
    Gate API

    Welcome to Gate API APIv4 provides operations related to spot, margin, and contract trading, including public interfaces for querying market data and authenticated private interfaces for implementing API-based automated trading.  # noqa: E501

    Contact: support@mail.gate.com
    Generated by: https://openapi-generator.tech
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from gate_api.api_client import ApiClient
from gate_api.exceptions import (  # noqa: F401
    ApiTypeError,
    ApiValueError
)


class P2PApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def p2p_merchant_account_get_user_info(self, **kwargs):  # noqa: E501
        """Get account information  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.p2p_merchant_account_get_user_info(async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: gate_api.InlineResponse20014
        :return: If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.p2p_merchant_account_get_user_info_with_http_info(**kwargs)  # noqa: E501

    def p2p_merchant_account_get_user_info_with_http_info(self, **kwargs):  # noqa: E501
        """Get account information  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.p2p_merchant_account_get_user_info_with_http_info(async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: tuple(gate_api.InlineResponse20014, status_code(int), headers(HTTPHeaderDict))
        :return: If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for k, v in six.iteritems(local_var_params['kwargs']):
            if k not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method p2p_merchant_account_get_user_info" % k
                )
            local_var_params[k] = v
        del local_var_params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/p2p/merchant/account/get_user_info', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20014',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def p2p_merchant_account_get_counterparty_user_info(self, biz_uid, **kwargs):  # noqa: E501
        """Get counterparty information  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.p2p_merchant_account_get_counterparty_user_info(biz_uid, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param str biz_uid: Counterparty UID (encrypted) (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: gate_api.InlineResponse20015
        :return: If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.p2p_merchant_account_get_counterparty_user_info_with_http_info(biz_uid, **kwargs)  # noqa: E501

    def p2p_merchant_account_get_counterparty_user_info_with_http_info(self, biz_uid, **kwargs):  # noqa: E501
        """Get counterparty information  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.p2p_merchant_account_get_counterparty_user_info_with_http_info(biz_uid, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param str biz_uid: Counterparty UID (encrypted) (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: tuple(gate_api.InlineResponse20015, status_code(int), headers(HTTPHeaderDict))
        :return: If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'biz_uid'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for k, v in six.iteritems(local_var_params['kwargs']):
            if k not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method p2p_merchant_account_get_counterparty_user_info" % k
                )
            local_var_params[k] = v
        del local_var_params['kwargs']
        # verify the required parameter 'biz_uid' is set
        if self.api_client.client_side_validation and ('biz_uid' not in local_var_params or  # noqa: E501
                                                        local_var_params['biz_uid'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `biz_uid` when calling `p2p_merchant_account_get_counterparty_user_info`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'biz_uid' in local_var_params:
            form_params.append(('biz_uid', local_var_params['biz_uid']))  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/p2p/merchant/account/get_counterparty_user_info', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20015',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def p2p_merchant_account_get_myself_payment(self, **kwargs):  # noqa: E501
        """Get payment method list  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.p2p_merchant_account_get_myself_payment(async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param str fiat: Fiat currency
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: gate_api.InlineResponse20016
        :return: If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.p2p_merchant_account_get_myself_payment_with_http_info(**kwargs)  # noqa: E501

    def p2p_merchant_account_get_myself_payment_with_http_info(self, **kwargs):  # noqa: E501
        """Get payment method list  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.p2p_merchant_account_get_myself_payment_with_http_info(async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param str fiat: Fiat currency
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: tuple(gate_api.InlineResponse20016, status_code(int), headers(HTTPHeaderDict))
        :return: If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'fiat'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for k, v in six.iteritems(local_var_params['kwargs']):
            if k not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method p2p_merchant_account_get_myself_payment" % k
                )
            local_var_params[k] = v
        del local_var_params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'fiat' in local_var_params:
            form_params.append(('fiat', local_var_params['fiat']))  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/p2p/merchant/account/get_myself_payment', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20016',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def p2p_merchant_transaction_get_pending_transaction_list(self, crypto_currency, fiat_currency, **kwargs):  # noqa: E501
        """Get pending orders  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.p2p_merchant_transaction_get_pending_transaction_list(crypto_currency, fiat_currency, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param str crypto_currency: Cryptocurrency (required)
        :param str fiat_currency: Fiat currency (required)
        :param str order_tab: 订单标签页，默认pending（pending：处理中（pending:  AND status in ('OPEN', 'PAID', 'LOCKED', 'TEMP')）；dispute：申诉中（status in ('ACCEPT', 'BCLOSED', 'CANCEL', 'BECANCEL', 'SCLOSED', 'SCANCEL')))
        :param str select_type: Buy/Sell (sell=Sell, buy=Buy, others=All)
        :param str status: Order Status (dispute: Disputed Order; closed: ACCEPT, BCLOSED; cancel: CANCEL, BECANCEL, SCLOSED, SCANCEL; locked: LOCKED; open: OPEN; paid: PAID; completed: CANCEL, BECANCEL, SCLOSED, SCANCEL, ACCEPT, BCLOSED)
        :param int txid: Order ID
        :param int start_time: Start timestamp, default is 00:00 89 days ago
        :param int end_time: End timestamp, default is 23:59:59 today
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: gate_api.InlineResponse20017
        :return: If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.p2p_merchant_transaction_get_pending_transaction_list_with_http_info(crypto_currency, fiat_currency, **kwargs)  # noqa: E501

    def p2p_merchant_transaction_get_pending_transaction_list_with_http_info(self, crypto_currency, fiat_currency, **kwargs):  # noqa: E501
        """Get pending orders  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.p2p_merchant_transaction_get_pending_transaction_list_with_http_info(crypto_currency, fiat_currency, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param str crypto_currency: Cryptocurrency (required)
        :param str fiat_currency: Fiat currency (required)
        :param str order_tab: 订单标签页，默认pending（pending：处理中（pending:  AND status in ('OPEN', 'PAID', 'LOCKED', 'TEMP')）；dispute：申诉中（status in ('ACCEPT', 'BCLOSED', 'CANCEL', 'BECANCEL', 'SCLOSED', 'SCANCEL')))
        :param str select_type: Buy/Sell (sell=Sell, buy=Buy, others=All)
        :param str status: Order Status (dispute: Disputed Order; closed: ACCEPT, BCLOSED; cancel: CANCEL, BECANCEL, SCLOSED, SCANCEL; locked: LOCKED; open: OPEN; paid: PAID; completed: CANCEL, BECANCEL, SCLOSED, SCANCEL, ACCEPT, BCLOSED)
        :param int txid: Order ID
        :param int start_time: Start timestamp, default is 00:00 89 days ago
        :param int end_time: End timestamp, default is 23:59:59 today
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: tuple(gate_api.InlineResponse20017, status_code(int), headers(HTTPHeaderDict))
        :return: If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'crypto_currency',
            'fiat_currency',
            'order_tab',
            'select_type',
            'status',
            'txid',
            'start_time',
            'end_time'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for k, v in six.iteritems(local_var_params['kwargs']):
            if k not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method p2p_merchant_transaction_get_pending_transaction_list" % k
                )
            local_var_params[k] = v
        del local_var_params['kwargs']
        # verify the required parameter 'crypto_currency' is set
        if self.api_client.client_side_validation and ('crypto_currency' not in local_var_params or  # noqa: E501
                                                        local_var_params['crypto_currency'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `crypto_currency` when calling `p2p_merchant_transaction_get_pending_transaction_list`")  # noqa: E501
        # verify the required parameter 'fiat_currency' is set
        if self.api_client.client_side_validation and ('fiat_currency' not in local_var_params or  # noqa: E501
                                                        local_var_params['fiat_currency'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `fiat_currency` when calling `p2p_merchant_transaction_get_pending_transaction_list`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'crypto_currency' in local_var_params:
            form_params.append(('crypto_currency', local_var_params['crypto_currency']))  # noqa: E501
        if 'fiat_currency' in local_var_params:
            form_params.append(('fiat_currency', local_var_params['fiat_currency']))  # noqa: E501
        if 'order_tab' in local_var_params:
            form_params.append(('order_tab', local_var_params['order_tab']))  # noqa: E501
        if 'select_type' in local_var_params:
            form_params.append(('select_type', local_var_params['select_type']))  # noqa: E501
        if 'status' in local_var_params:
            form_params.append(('status', local_var_params['status']))  # noqa: E501
        if 'txid' in local_var_params:
            form_params.append(('txid', local_var_params['txid']))  # noqa: E501
        if 'start_time' in local_var_params:
            form_params.append(('start_time', local_var_params['start_time']))  # noqa: E501
        if 'end_time' in local_var_params:
            form_params.append(('end_time', local_var_params['end_time']))  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/p2p/merchant/transaction/get_pending_transaction_list', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20017',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def p2p_merchant_transaction_get_completed_transaction_list(self, crypto_currency, fiat_currency, **kwargs):  # noqa: E501
        """Get all/historical orders  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.p2p_merchant_transaction_get_completed_transaction_list(crypto_currency, fiat_currency, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param str crypto_currency: Cryptocurrency (required)
        :param str fiat_currency: Fiat currency (required)
        :param str select_type: Buy/Sell (sell=Sell, buy=Buy, others=All)
        :param str status: Order Status (dispute: Disputed Order; closed: ACCEPT, BCLOSED; cancel: CANCEL, BECANCEL, SCLOSED, SCANCEL; locked: LOCKED; open: OPEN; paid: PAID; completed: CANCEL, BECANCEL, SCLOSED, SCANCEL, ACCEPT, BCLOSED)
        :param int txid: Order ID
        :param int start_time: Start timestamp, default is 00:00 89 days ago
        :param int end_time: End timestamp, default is 23:59:59 today
        :param int query_dispute: 1: Include appeal status, 0: None
        :param int page: page number
        :param int per_page: Number of orders per page
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: gate_api.InlineResponse20017
        :return: If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.p2p_merchant_transaction_get_completed_transaction_list_with_http_info(crypto_currency, fiat_currency, **kwargs)  # noqa: E501

    def p2p_merchant_transaction_get_completed_transaction_list_with_http_info(self, crypto_currency, fiat_currency, **kwargs):  # noqa: E501
        """Get all/historical orders  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.p2p_merchant_transaction_get_completed_transaction_list_with_http_info(crypto_currency, fiat_currency, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param str crypto_currency: Cryptocurrency (required)
        :param str fiat_currency: Fiat currency (required)
        :param str select_type: Buy/Sell (sell=Sell, buy=Buy, others=All)
        :param str status: Order Status (dispute: Disputed Order; closed: ACCEPT, BCLOSED; cancel: CANCEL, BECANCEL, SCLOSED, SCANCEL; locked: LOCKED; open: OPEN; paid: PAID; completed: CANCEL, BECANCEL, SCLOSED, SCANCEL, ACCEPT, BCLOSED)
        :param int txid: Order ID
        :param int start_time: Start timestamp, default is 00:00 89 days ago
        :param int end_time: End timestamp, default is 23:59:59 today
        :param int query_dispute: 1: Include appeal status, 0: None
        :param int page: page number
        :param int per_page: Number of orders per page
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: tuple(gate_api.InlineResponse20017, status_code(int), headers(HTTPHeaderDict))
        :return: If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'crypto_currency',
            'fiat_currency',
            'select_type',
            'status',
            'txid',
            'start_time',
            'end_time',
            'query_dispute',
            'page',
            'per_page'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for k, v in six.iteritems(local_var_params['kwargs']):
            if k not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method p2p_merchant_transaction_get_completed_transaction_list" % k
                )
            local_var_params[k] = v
        del local_var_params['kwargs']
        # verify the required parameter 'crypto_currency' is set
        if self.api_client.client_side_validation and ('crypto_currency' not in local_var_params or  # noqa: E501
                                                        local_var_params['crypto_currency'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `crypto_currency` when calling `p2p_merchant_transaction_get_completed_transaction_list`")  # noqa: E501
        # verify the required parameter 'fiat_currency' is set
        if self.api_client.client_side_validation and ('fiat_currency' not in local_var_params or  # noqa: E501
                                                        local_var_params['fiat_currency'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `fiat_currency` when calling `p2p_merchant_transaction_get_completed_transaction_list`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'crypto_currency' in local_var_params:
            form_params.append(('crypto_currency', local_var_params['crypto_currency']))  # noqa: E501
        if 'fiat_currency' in local_var_params:
            form_params.append(('fiat_currency', local_var_params['fiat_currency']))  # noqa: E501
        if 'select_type' in local_var_params:
            form_params.append(('select_type', local_var_params['select_type']))  # noqa: E501
        if 'status' in local_var_params:
            form_params.append(('status', local_var_params['status']))  # noqa: E501
        if 'txid' in local_var_params:
            form_params.append(('txid', local_var_params['txid']))  # noqa: E501
        if 'start_time' in local_var_params:
            form_params.append(('start_time', local_var_params['start_time']))  # noqa: E501
        if 'end_time' in local_var_params:
            form_params.append(('end_time', local_var_params['end_time']))  # noqa: E501
        if 'query_dispute' in local_var_params:
            form_params.append(('query_dispute', local_var_params['query_dispute']))  # noqa: E501
        if 'page' in local_var_params:
            form_params.append(('page', local_var_params['page']))  # noqa: E501
        if 'per_page' in local_var_params:
            form_params.append(('per_page', local_var_params['per_page']))  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/p2p/merchant/transaction/get_completed_transaction_list', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20017',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def p2p_merchant_transaction_get_transaction_details(self, txid, **kwargs):  # noqa: E501
        """Query order details  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.p2p_merchant_transaction_get_transaction_details(txid, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param int txid: Order ID (required)
        :param str channel: Empty or web3
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: gate_api.InlineResponse20018
        :return: If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.p2p_merchant_transaction_get_transaction_details_with_http_info(txid, **kwargs)  # noqa: E501

    def p2p_merchant_transaction_get_transaction_details_with_http_info(self, txid, **kwargs):  # noqa: E501
        """Query order details  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.p2p_merchant_transaction_get_transaction_details_with_http_info(txid, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param int txid: Order ID (required)
        :param str channel: Empty or web3
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: tuple(gate_api.InlineResponse20018, status_code(int), headers(HTTPHeaderDict))
        :return: If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'txid',
            'channel'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for k, v in six.iteritems(local_var_params['kwargs']):
            if k not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method p2p_merchant_transaction_get_transaction_details" % k
                )
            local_var_params[k] = v
        del local_var_params['kwargs']
        # verify the required parameter 'txid' is set
        if self.api_client.client_side_validation and ('txid' not in local_var_params or  # noqa: E501
                                                        local_var_params['txid'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `txid` when calling `p2p_merchant_transaction_get_transaction_details`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'txid' in local_var_params:
            form_params.append(('txid', local_var_params['txid']))  # noqa: E501
        if 'channel' in local_var_params:
            form_params.append(('channel', local_var_params['channel']))  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/p2p/merchant/transaction/get_transaction_details', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20018',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def p2p_merchant_transaction_confirm_payment(self, **kwargs):  # noqa: E501
        """Confirm payment  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.p2p_merchant_transaction_confirm_payment(async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param InlineObject10 inline_object10:
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: gate_api.InlineResponse2007
        :return: If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.p2p_merchant_transaction_confirm_payment_with_http_info(**kwargs)  # noqa: E501

    def p2p_merchant_transaction_confirm_payment_with_http_info(self, **kwargs):  # noqa: E501
        """Confirm payment  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.p2p_merchant_transaction_confirm_payment_with_http_info(async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param InlineObject10 inline_object10:
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: tuple(gate_api.InlineResponse2007, status_code(int), headers(HTTPHeaderDict))
        :return: If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'inline_object10'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for k, v in six.iteritems(local_var_params['kwargs']):
            if k not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method p2p_merchant_transaction_confirm_payment" % k
                )
            local_var_params[k] = v
        del local_var_params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'inline_object10' in local_var_params:
            body_params = local_var_params['inline_object10']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/p2p/merchant/transaction/confirm-payment', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse2007',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def p2p_merchant_transaction_confirm_receipt(self, **kwargs):  # noqa: E501
        """Confirm receipt  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.p2p_merchant_transaction_confirm_receipt(async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param InlineObject11 inline_object11:
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: gate_api.InlineResponse2007
        :return: If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.p2p_merchant_transaction_confirm_receipt_with_http_info(**kwargs)  # noqa: E501

    def p2p_merchant_transaction_confirm_receipt_with_http_info(self, **kwargs):  # noqa: E501
        """Confirm receipt  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.p2p_merchant_transaction_confirm_receipt_with_http_info(async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param InlineObject11 inline_object11:
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: tuple(gate_api.InlineResponse2007, status_code(int), headers(HTTPHeaderDict))
        :return: If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'inline_object11'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for k, v in six.iteritems(local_var_params['kwargs']):
            if k not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method p2p_merchant_transaction_confirm_receipt" % k
                )
            local_var_params[k] = v
        del local_var_params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'inline_object11' in local_var_params:
            body_params = local_var_params['inline_object11']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/p2p/merchant/transaction/confirm-receipt', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse2007',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def p2p_merchant_transaction_cancel(self, **kwargs):  # noqa: E501
        """Cancel order  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.p2p_merchant_transaction_cancel(async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param InlineObject12 inline_object12:
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: gate_api.InlineResponse2007
        :return: If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.p2p_merchant_transaction_cancel_with_http_info(**kwargs)  # noqa: E501

    def p2p_merchant_transaction_cancel_with_http_info(self, **kwargs):  # noqa: E501
        """Cancel order  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.p2p_merchant_transaction_cancel_with_http_info(async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param InlineObject12 inline_object12:
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: tuple(gate_api.InlineResponse2007, status_code(int), headers(HTTPHeaderDict))
        :return: If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'inline_object12'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for k, v in six.iteritems(local_var_params['kwargs']):
            if k not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method p2p_merchant_transaction_cancel" % k
                )
            local_var_params[k] = v
        del local_var_params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'inline_object12' in local_var_params:
            body_params = local_var_params['inline_object12']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/p2p/merchant/transaction/cancel', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse2007',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def p2p_merchant_books_place_biz_push_order(self, currency_type, exchange_type, type, unit_price, number, min_amount, max_amount, **kwargs):  # noqa: E501
        """Publish ad order  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.p2p_merchant_books_place_biz_push_order(currency_type, exchange_type, type, unit_price, number, min_amount, max_amount, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param str currency_type: Cryptocurrency (required)
        :param str exchange_type: Fiat currency (required)
        :param str type: Ad type: 0=Sell, 1=Buy, 2=Edit sell, 3=Edit buy (required)
        :param str unit_price: Unit price (required)
        :param str number: Size (required)
        :param str min_amount: Minimum transaction amount per order (required)
        :param str max_amount: Maximum transaction amount per order (required)
        :param str pay_type: Payment method
        :param str pay_type_json: Payment method JSON string
        :param str rate_fixed: Price type: 0-Floating price, 1-Fixed price
        :param str oid: Ad ID when editing
        :param str tier_limit: Order tier limit
        :param str verified_limit: Verification level limit
        :param str reg_time_limit: Registration time limit
        :param str advertisers_limit: Advertiser restriction
        :param str hide_payment: Whether to hide payment method: 1=Yes, 0=No
        :param str expire_min: Ad expiration time (minutes)
        :param str trade_tips: Trading terms
        :param str auto_reply: Auto reply
        :param str min_completed_limit: Minimum limit of completed orders
        :param str max_completed_limit: Maximum limit of completed orders
        :param str completed_rate_limit: 30-day completion rate limit
        :param str user_country_limit: KYC nationality restriction
        :param str user_order_limit: Order count limit
        :param str rate_reference_id: Reference exchange rate ID
        :param str rate_offset: Reference exchange rate offset
        :param str float_trend: 444
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: object
        :return: If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.p2p_merchant_books_place_biz_push_order_with_http_info(currency_type, exchange_type, type, unit_price, number, min_amount, max_amount, **kwargs)  # noqa: E501

    def p2p_merchant_books_place_biz_push_order_with_http_info(self, currency_type, exchange_type, type, unit_price, number, min_amount, max_amount, **kwargs):  # noqa: E501
        """Publish ad order  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.p2p_merchant_books_place_biz_push_order_with_http_info(currency_type, exchange_type, type, unit_price, number, min_amount, max_amount, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param str currency_type: Cryptocurrency (required)
        :param str exchange_type: Fiat currency (required)
        :param str type: Ad type: 0=Sell, 1=Buy, 2=Edit sell, 3=Edit buy (required)
        :param str unit_price: Unit price (required)
        :param str number: Size (required)
        :param str min_amount: Minimum transaction amount per order (required)
        :param str max_amount: Maximum transaction amount per order (required)
        :param str pay_type: Payment method
        :param str pay_type_json: Payment method JSON string
        :param str rate_fixed: Price type: 0-Floating price, 1-Fixed price
        :param str oid: Ad ID when editing
        :param str tier_limit: Order tier limit
        :param str verified_limit: Verification level limit
        :param str reg_time_limit: Registration time limit
        :param str advertisers_limit: Advertiser restriction
        :param str hide_payment: Whether to hide payment method: 1=Yes, 0=No
        :param str expire_min: Ad expiration time (minutes)
        :param str trade_tips: Trading terms
        :param str auto_reply: Auto reply
        :param str min_completed_limit: Minimum limit of completed orders
        :param str max_completed_limit: Maximum limit of completed orders
        :param str completed_rate_limit: 30-day completion rate limit
        :param str user_country_limit: KYC nationality restriction
        :param str user_order_limit: Order count limit
        :param str rate_reference_id: Reference exchange rate ID
        :param str rate_offset: Reference exchange rate offset
        :param str float_trend: 444
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: tuple(object, status_code(int), headers(HTTPHeaderDict))
        :return: If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'currency_type',
            'exchange_type',
            'type',
            'unit_price',
            'number',
            'min_amount',
            'max_amount',
            'pay_type',
            'pay_type_json',
            'rate_fixed',
            'oid',
            'tier_limit',
            'verified_limit',
            'reg_time_limit',
            'advertisers_limit',
            'hide_payment',
            'expire_min',
            'trade_tips',
            'auto_reply',
            'min_completed_limit',
            'max_completed_limit',
            'completed_rate_limit',
            'user_country_limit',
            'user_order_limit',
            'rate_reference_id',
            'rate_offset',
            'float_trend'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for k, v in six.iteritems(local_var_params['kwargs']):
            if k not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method p2p_merchant_books_place_biz_push_order" % k
                )
            local_var_params[k] = v
        del local_var_params['kwargs']
        # verify the required parameter 'currency_type' is set
        if self.api_client.client_side_validation and ('currency_type' not in local_var_params or  # noqa: E501
                                                        local_var_params['currency_type'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `currency_type` when calling `p2p_merchant_books_place_biz_push_order`")  # noqa: E501
        # verify the required parameter 'exchange_type' is set
        if self.api_client.client_side_validation and ('exchange_type' not in local_var_params or  # noqa: E501
                                                        local_var_params['exchange_type'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `exchange_type` when calling `p2p_merchant_books_place_biz_push_order`")  # noqa: E501
        # verify the required parameter 'type' is set
        if self.api_client.client_side_validation and ('type' not in local_var_params or  # noqa: E501
                                                        local_var_params['type'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `type` when calling `p2p_merchant_books_place_biz_push_order`")  # noqa: E501
        # verify the required parameter 'unit_price' is set
        if self.api_client.client_side_validation and ('unit_price' not in local_var_params or  # noqa: E501
                                                        local_var_params['unit_price'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `unit_price` when calling `p2p_merchant_books_place_biz_push_order`")  # noqa: E501
        # verify the required parameter 'number' is set
        if self.api_client.client_side_validation and ('number' not in local_var_params or  # noqa: E501
                                                        local_var_params['number'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `number` when calling `p2p_merchant_books_place_biz_push_order`")  # noqa: E501
        # verify the required parameter 'min_amount' is set
        if self.api_client.client_side_validation and ('min_amount' not in local_var_params or  # noqa: E501
                                                        local_var_params['min_amount'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `min_amount` when calling `p2p_merchant_books_place_biz_push_order`")  # noqa: E501
        # verify the required parameter 'max_amount' is set
        if self.api_client.client_side_validation and ('max_amount' not in local_var_params or  # noqa: E501
                                                        local_var_params['max_amount'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `max_amount` when calling `p2p_merchant_books_place_biz_push_order`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'currency_type' in local_var_params:
            form_params.append(('currencyType', local_var_params['currency_type']))  # noqa: E501
        if 'exchange_type' in local_var_params:
            form_params.append(('exchangeType', local_var_params['exchange_type']))  # noqa: E501
        if 'type' in local_var_params:
            form_params.append(('type', local_var_params['type']))  # noqa: E501
        if 'unit_price' in local_var_params:
            form_params.append(('unitPrice', local_var_params['unit_price']))  # noqa: E501
        if 'number' in local_var_params:
            form_params.append(('number', local_var_params['number']))  # noqa: E501
        if 'pay_type' in local_var_params:
            form_params.append(('payType', local_var_params['pay_type']))  # noqa: E501
        if 'pay_type_json' in local_var_params:
            form_params.append(('pay_type_json', local_var_params['pay_type_json']))  # noqa: E501
        if 'rate_fixed' in local_var_params:
            form_params.append(('rateFixed', local_var_params['rate_fixed']))  # noqa: E501
        if 'oid' in local_var_params:
            form_params.append(('oid', local_var_params['oid']))  # noqa: E501
        if 'min_amount' in local_var_params:
            form_params.append(('minAmount', local_var_params['min_amount']))  # noqa: E501
        if 'max_amount' in local_var_params:
            form_params.append(('maxAmount', local_var_params['max_amount']))  # noqa: E501
        if 'tier_limit' in local_var_params:
            form_params.append(('tierLimit', local_var_params['tier_limit']))  # noqa: E501
        if 'verified_limit' in local_var_params:
            form_params.append(('verifiedLimit', local_var_params['verified_limit']))  # noqa: E501
        if 'reg_time_limit' in local_var_params:
            form_params.append(('regTimeLimit', local_var_params['reg_time_limit']))  # noqa: E501
        if 'advertisers_limit' in local_var_params:
            form_params.append(('advertisersLimit', local_var_params['advertisers_limit']))  # noqa: E501
        if 'hide_payment' in local_var_params:
            form_params.append(('hide_payment', local_var_params['hide_payment']))  # noqa: E501
        if 'expire_min' in local_var_params:
            form_params.append(('expire_min', local_var_params['expire_min']))  # noqa: E501
        if 'trade_tips' in local_var_params:
            form_params.append(('trade_tips', local_var_params['trade_tips']))  # noqa: E501
        if 'auto_reply' in local_var_params:
            form_params.append(('auto_reply', local_var_params['auto_reply']))  # noqa: E501
        if 'min_completed_limit' in local_var_params:
            form_params.append(('min_completed_limit', local_var_params['min_completed_limit']))  # noqa: E501
        if 'max_completed_limit' in local_var_params:
            form_params.append(('max_completed_limit', local_var_params['max_completed_limit']))  # noqa: E501
        if 'completed_rate_limit' in local_var_params:
            form_params.append(('completed_rate_limit', local_var_params['completed_rate_limit']))  # noqa: E501
        if 'user_country_limit' in local_var_params:
            form_params.append(('user_country_limit', local_var_params['user_country_limit']))  # noqa: E501
        if 'user_order_limit' in local_var_params:
            form_params.append(('user_order_limit', local_var_params['user_order_limit']))  # noqa: E501
        if 'rate_reference_id' in local_var_params:
            form_params.append(('rateReferenceId', local_var_params['rate_reference_id']))  # noqa: E501
        if 'rate_offset' in local_var_params:
            form_params.append(('rateOffset', local_var_params['rate_offset']))  # noqa: E501
        if 'float_trend' in local_var_params:
            form_params.append(('float_trend', local_var_params['float_trend']))  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/p2p/merchant/books/place_biz_push_order', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def p2p_merchant_books_ads_update_status(self, adv_no, adv_status, **kwargs):  # noqa: E501
        """Update ad status  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.p2p_merchant_books_ads_update_status(adv_no, adv_status, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param int adv_no: Ad ID (required)
        :param int adv_status: Ad status: 1=Active, 3=Inactive, 4=Closed (required)
        :param str trade_type: Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME <EMAIL@ADDRESS> Language: en Language-Team: en <L@li.org> Plural-Forms: nplurals=2; plural=(n !=1) MIME-Version: 1.0 Content-Type: text/plain; charset=utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0 
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: gate_api.InlineResponse20019
        :return: If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.p2p_merchant_books_ads_update_status_with_http_info(adv_no, adv_status, **kwargs)  # noqa: E501

    def p2p_merchant_books_ads_update_status_with_http_info(self, adv_no, adv_status, **kwargs):  # noqa: E501
        """Update ad status  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.p2p_merchant_books_ads_update_status_with_http_info(adv_no, adv_status, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param int adv_no: Ad ID (required)
        :param int adv_status: Ad status: 1=Active, 3=Inactive, 4=Closed (required)
        :param str trade_type: Project-Id-Version: GateApiTools 1.0.0 Report-Msgid-Bugs-To: EMAIL@ADDRESS POT-Creation-Date: 2025-11-12 18:14+0800 PO-Revision-Date: 2019-01-02 17:30+0800 Last-Translator: FULL NAME <EMAIL@ADDRESS> Language: en Language-Team: en <L@li.org> Plural-Forms: nplurals=2; plural=(n !=1) MIME-Version: 1.0 Content-Type: text/plain; charset=utf-8 Content-Transfer-Encoding: 8bit Generated-By: Babel 2.8.0 
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: tuple(gate_api.InlineResponse20019, status_code(int), headers(HTTPHeaderDict))
        :return: If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'adv_no',
            'adv_status',
            'trade_type'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for k, v in six.iteritems(local_var_params['kwargs']):
            if k not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method p2p_merchant_books_ads_update_status" % k
                )
            local_var_params[k] = v
        del local_var_params['kwargs']
        # verify the required parameter 'adv_no' is set
        if self.api_client.client_side_validation and ('adv_no' not in local_var_params or  # noqa: E501
                                                        local_var_params['adv_no'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `adv_no` when calling `p2p_merchant_books_ads_update_status`")  # noqa: E501
        # verify the required parameter 'adv_status' is set
        if self.api_client.client_side_validation and ('adv_status' not in local_var_params or  # noqa: E501
                                                        local_var_params['adv_status'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `adv_status` when calling `p2p_merchant_books_ads_update_status`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'trade_type' in local_var_params and local_var_params['trade_type'] is not None:  # noqa: E501
            query_params.append(('trade_type', local_var_params['trade_type']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'adv_no' in local_var_params:
            form_params.append(('adv_no', local_var_params['adv_no']))  # noqa: E501
        if 'adv_status' in local_var_params:
            form_params.append(('adv_status', local_var_params['adv_status']))  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/p2p/merchant/books/ads_update_status', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20019',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def p2p_merchant_books_ads_detail(self, adv_no, **kwargs):  # noqa: E501
        """Query ad details  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.p2p_merchant_books_ads_detail(adv_no, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param str adv_no: (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: gate_api.InlineResponse20020
        :return: If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.p2p_merchant_books_ads_detail_with_http_info(adv_no, **kwargs)  # noqa: E501

    def p2p_merchant_books_ads_detail_with_http_info(self, adv_no, **kwargs):  # noqa: E501
        """Query ad details  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.p2p_merchant_books_ads_detail_with_http_info(adv_no, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param str adv_no: (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: tuple(gate_api.InlineResponse20020, status_code(int), headers(HTTPHeaderDict))
        :return: If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'adv_no'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for k, v in six.iteritems(local_var_params['kwargs']):
            if k not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method p2p_merchant_books_ads_detail" % k
                )
            local_var_params[k] = v
        del local_var_params['kwargs']
        # verify the required parameter 'adv_no' is set
        if self.api_client.client_side_validation and ('adv_no' not in local_var_params or  # noqa: E501
                                                        local_var_params['adv_no'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `adv_no` when calling `p2p_merchant_books_ads_detail`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'adv_no' in local_var_params:
            form_params.append(('adv_no', local_var_params['adv_no']))  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/p2p/merchant/books/ads_detail', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20020',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def p2p_merchant_books_my_ads_list(self, **kwargs):  # noqa: E501
        """Get my ad list  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.p2p_merchant_books_my_ads_list(async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param str asset: Cryptocurrency
        :param str fiat_unit: Fiat currency
        :param str trade_type: Buy/Sell
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: gate_api.InlineResponse20021
        :return: If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.p2p_merchant_books_my_ads_list_with_http_info(**kwargs)  # noqa: E501

    def p2p_merchant_books_my_ads_list_with_http_info(self, **kwargs):  # noqa: E501
        """Get my ad list  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.p2p_merchant_books_my_ads_list_with_http_info(async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param str asset: Cryptocurrency
        :param str fiat_unit: Fiat currency
        :param str trade_type: Buy/Sell
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: tuple(gate_api.InlineResponse20021, status_code(int), headers(HTTPHeaderDict))
        :return: If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'asset',
            'fiat_unit',
            'trade_type'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for k, v in six.iteritems(local_var_params['kwargs']):
            if k not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method p2p_merchant_books_my_ads_list" % k
                )
            local_var_params[k] = v
        del local_var_params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'asset' in local_var_params:
            form_params.append(('asset', local_var_params['asset']))  # noqa: E501
        if 'fiat_unit' in local_var_params:
            form_params.append(('fiat_unit', local_var_params['fiat_unit']))  # noqa: E501
        if 'trade_type' in local_var_params:
            form_params.append(('trade_type', local_var_params['trade_type']))  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/p2p/merchant/books/my_ads_list', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20021',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def p2p_merchant_chat_get_chats_list(self, txid, **kwargs):  # noqa: E501
        """Get chat history  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.p2p_merchant_chat_get_chats_list(txid, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param int txid: Order ID (required)
        :param int lastreceived: Pagination timestamp (forward)
        :param int firstreceived: Pagination timestamp (backward)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: gate_api.InlineResponse20022
        :return: If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.p2p_merchant_chat_get_chats_list_with_http_info(txid, **kwargs)  # noqa: E501

    def p2p_merchant_chat_get_chats_list_with_http_info(self, txid, **kwargs):  # noqa: E501
        """Get chat history  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.p2p_merchant_chat_get_chats_list_with_http_info(txid, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param int txid: Order ID (required)
        :param int lastreceived: Pagination timestamp (forward)
        :param int firstreceived: Pagination timestamp (backward)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: tuple(gate_api.InlineResponse20022, status_code(int), headers(HTTPHeaderDict))
        :return: If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'txid',
            'lastreceived',
            'firstreceived'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for k, v in six.iteritems(local_var_params['kwargs']):
            if k not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method p2p_merchant_chat_get_chats_list" % k
                )
            local_var_params[k] = v
        del local_var_params['kwargs']
        # verify the required parameter 'txid' is set
        if self.api_client.client_side_validation and ('txid' not in local_var_params or  # noqa: E501
                                                        local_var_params['txid'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `txid` when calling `p2p_merchant_chat_get_chats_list`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'txid' in local_var_params:
            form_params.append(('txid', local_var_params['txid']))  # noqa: E501
        if 'lastreceived' in local_var_params:
            form_params.append(('lastreceived', local_var_params['lastreceived']))  # noqa: E501
        if 'firstreceived' in local_var_params:
            form_params.append(('firstreceived', local_var_params['firstreceived']))  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/p2p/merchant/chat/get_chats_list', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20022',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def p2p_merchant_chat_send_chat_message(self, txid, message, **kwargs):  # noqa: E501
        """Send text message  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.p2p_merchant_chat_send_chat_message(txid, message, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param int txid: Order ID (required)
        :param str message: Message content (required)
        :param int type: 0=Text, 1=File (video or image), default is 0 if not provided
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: gate_api.InlineResponse20023
        :return: If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.p2p_merchant_chat_send_chat_message_with_http_info(txid, message, **kwargs)  # noqa: E501

    def p2p_merchant_chat_send_chat_message_with_http_info(self, txid, message, **kwargs):  # noqa: E501
        """Send text message  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.p2p_merchant_chat_send_chat_message_with_http_info(txid, message, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param int txid: Order ID (required)
        :param str message: Message content (required)
        :param int type: 0=Text, 1=File (video or image), default is 0 if not provided
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: tuple(gate_api.InlineResponse20023, status_code(int), headers(HTTPHeaderDict))
        :return: If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'txid',
            'message',
            'type'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for k, v in six.iteritems(local_var_params['kwargs']):
            if k not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method p2p_merchant_chat_send_chat_message" % k
                )
            local_var_params[k] = v
        del local_var_params['kwargs']
        # verify the required parameter 'txid' is set
        if self.api_client.client_side_validation and ('txid' not in local_var_params or  # noqa: E501
                                                        local_var_params['txid'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `txid` when calling `p2p_merchant_chat_send_chat_message`")  # noqa: E501
        # verify the required parameter 'message' is set
        if self.api_client.client_side_validation and ('message' not in local_var_params or  # noqa: E501
                                                        local_var_params['message'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `message` when calling `p2p_merchant_chat_send_chat_message`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'txid' in local_var_params:
            form_params.append(('txid', local_var_params['txid']))  # noqa: E501
        if 'type' in local_var_params:
            form_params.append(('type', local_var_params['type']))  # noqa: E501
        if 'message' in local_var_params:
            form_params.append(('message', local_var_params['message']))  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/p2p/merchant/chat/send_chat_message', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20023',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def p2p_merchant_chat_upload_chat_file(self, image_content_type, base64_img, **kwargs):  # noqa: E501
        """Upload chat file  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.p2p_merchant_chat_upload_chat_file(image_content_type, base64_img, async_req=True)
        >>> result = thread.get()

        :param bool async_req: execute request asynchronously
        :param str image_content_type: File type, currently only images and videos are supported (required)
        :param str base64_img: File content (base64 encoded) (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :rtype: gate_api.InlineResponse20024
        :return: If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.p2p_merchant_chat_upload_chat_file_with_http_info(image_content_type, base64_img, **kwargs)  # noqa: E501

    def p2p_merchant_chat_upload_chat_file_with_http_info(self, image_content_type, base64_img, **kwargs):  # noqa: E501
        """Upload chat file  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
[...]
